// colors

$yellow: #ffff00;
$red: #ed1c24;
$blue: #0000ff;
$grey: #414042;
$red: #fc351f;


$color-1: #021725; // blue
$color-2: #e36767; // red
$color-3: #fff; // white

// fonts 

$font-stack: 'Base Monospace Wide Thin' , 'sans-serif';

//header height

$header-height-S: 50px;
$header-height-M: 80px;

// z-index 

$content-zindex: 1;
$nav-zindex: 2;
$header-zindex: 3;
