/* 
Project Name: OOMK
Client: Sofia Niazi, Rose Nordin
Author: A Kamran
*/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

@import '../partials/effects';

/******************************************
/* BASE CSS HOVER                   
/*******************************************/

// .element {
//   display: inline;
//   position: relative;
//   z-index: 2;
//   text-decoration: none;
//   box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box;
//   -webkit-user-select: none; 
//   -moz-user-select: none; 
//   -ms-user-select: none; 
//   user-select: none; 
//   -webkit-touch-callout: none; 
//   -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
//   padding: 10px;
//   white-space: nowrap;
//   overflow: hidden;
//   -webkit-transition: color 1s ease;
//   -moz-transition: color 1s ease;
//   -ms-transition: color 1s ease;
//   -o-transition: color 1s ease;
//   transition: color 1s ease;
// }

// .element:hover,
// .element:focus {
//   outline: 0;
//   color: #fff;
//   -webkit-transition: color 1s ease;
//   -moz-transition: color 1s ease;
//   -ms-transition: color 1s ease;
//   -o-transition: color 1s ease;
//   transition: color 1s ease;
//   cursor: pointer;
// }

// .element:before {
//   -webkit-transition: all 1s ease; /* add delay if wanted */
//   -moz-transition: all 1s ease; /* add delay if wanted */
//   -ms-transition: all 1s ease; /* add delay if wanted */
//   -o-transition: all 1s ease; /* add delay if wanted */
//   transition: all 1s ease; /* add delay if wanted */
// }

// .element:after {
//   -webkit-transition: all 1s ease; /* add delay if wanted */
//   -moz-transition: all 1s ease; /* add delay if wanted */
//   -ms-transition: all 1s ease; /* add delay if wanted */
//   -o-transition: all 1s ease; /* add delay if wanted */
//   transition: all 1s ease; /* add delay if wanted */  
// }

// .element:hover:after,
// .element:focus:after {
//   outline: 0;
//   background-color:#fff;
//   -webkit-transition:  all 1s ease; /* add delay if wanted */
//      -moz-transition:  all 1s ease; /* add delay if wanted */
//       -ms-transition:  all 1s ease; /* add delay if wanted */
//        -o-transition:  all 1s ease; /* add delay if wanted */
//           transition:  all 1s ease; /* add delay if wanted */
// }

// .element:hover:before,
// .element:focus:before {
//   outline: 0;
//   background-color: #fff;
//   -webkit-transition:  all 1s ease; /* add delay if wanted */
//      -moz-transition:  all 1s ease; /* add delay if wanted */
//       -ms-transition:  all 1s ease; /* add delay if wanted */
//        -o-transition:  all 1s ease; /* add delay if wanted */
//           transition:  all 1s ease; /* add delay if wanted */
// }

/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear {
	clear: both;
}


/******************************************
/* BASE STYLES                   
/*******************************************/
/**/

audio,
canvas,
img,
video {
    vertical-align: middle;
}

:focus, :active, :hover {
  outline: none;
}

html {
  height: 100%;
}

body {
  background: $pale-pink;
  font-family: $font-body;
  margin: 1rem 2rem;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  display: inline;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  // &:visited {
  //   color: inherit;
  // }
}
h2 {
  font-family: $font-heading;
  color: $pale-blue;
  font-family: $font-heading;
  text-align: center;
  font-size: 1.75rem;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: $pale-blue;
  margin-top: 5.5rem;
  position: fixed;
  left: 0;
  letter-spacing: 1px;

}
h3 {
  font-family: $font-heading;
  text-align: center;
  font-size: 1.2rem;
  margin: 0.75rem;
  @include goldilocks(mama) {
    font-size: .9rem;
  }
  @include goldilocks(baby) {
    font-size: .9rem;
  }

}
h4 {
  text-align: center;
  font-size: .9rem;
  margin: 0;
  @include goldilocks(baby) {
    font-size: .7rem;
  }
}
h5 {
  font-size: 2rem;
  font-family: $font-heading;
  text-align: center;
  margin: 1.5rem 0 0.5rem 0;
  @include goldilocks(mamaTall) {
    font-size: 1.5rem;
    margin: 0;
  }
  @include goldilocks(baby) {
    font-size: 1.2rem;
    margin: 0;
  }
}

p {
  @include goldilocks(baby) {
    font-size: .9rem;
  }
}
.float {
  img {
    float: left;
    width: 50%;
    padding: .5rem;
  }
}
.rotate {

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
.nav {
  font-family: $font-heading;
  font-size: 1.3rem;
  @include goldilocks (baby) {
    font-size: .9rem;
  }
  ul{
    margin: 0;
    li {
      display: inline;
      margin-right: 13rem;
       @include goldilocks (mamaTall) {
        margin-right: 10rem;
       }
      @include goldilocks (baby) {
        margin-right: 1.1rem;
        font-size: .8rem;
        &:last-child {
          margin-right: 0;
        }
      }
      &:last-child {
      margin-right: 0;
      }
    }
  }
  .about:hover {
    color:#85e4a0;
    transition: 200ms ease-in;
    padding-bottom: 20px;

  }
  .publications:hover {
    color: cornflowerblue;
    transition: 200ms ease-in;
  }
  .projects:hover {
    color: #e240ae;
    transition: 200ms ease-in;
  }
  .shop:hover {
    color: crimson;
    transition: 200ms ease-in;
  }
}
.linethrough-left:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 3px;
  height: 3px; 
}

.linethrough-left:hover:after {
  width: 100%;
  height: 3px; 
  background-color:cornflowerblue;
}

.linethrough-left:after {
  right: 0;
  top: 50%;
  z-index: 9; 
}


.nav-left {
  float: left;
  // li {
  //   &:first-child {
  //     margin-right: 25%;
  //   }
  // }
}
.nav-right {
  float: right;
  // li {
  //   &:last-child {
  //     margin-left: 25%;
  //   }
  // }
}

#nav {
  position: relative;
  &:hover > .dropdown-menu {
    display: block;
    opacity: 1;
  }
  li {
    margin-right: 0;
    display: block;
    text-align: left;
  }
}
.dropdown-trigger {
  position: relative;
  
  &:focus + .dropdown-menu {
    display: grid;
    opacity: 1;
  }
  
  &::after {
    // content: "›";
    position: absolute;
    color: #e240ae;
    font-size: 20px;
    // font-weight: bold;
    transform: rotate(90deg);
    top: -5px;
    right: -15px;
  }
}
.dropdown-menu {
  // background-color: black;
  display: inline-block;
  text-align: right;
  position: absolute;
  // top: 2.5rem;
  // right: -10px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease; 
  width: 10rem;
  margin: .5rem;
  .brows {
    padding: 1em;
  }
  @include goldilocks (baby) {
    background: black;
    z-index: 20;
    padding: 1rem 0;
    width: 7rem;
  }
  @include goldilocks (mama) {
    background: black;
    z-index: 20;
    padding: 1rem 0;
    width: 8rem;
  }
  @include goldilocks (mamaTall) {
    background: black;
    z-index: 20;
    padding: 1rem 0;
    width: 8rem;
  }

  a {
    color: black;
    cursor: pointer;
    font-size: .9rem;
    @include goldilocks (baby) {
      color: white;
      font-size: .8rem;
    }
    @include goldilocks (mama) {
      color: white;
      font-size: .8rem;
    }
    @include goldilocks (mamaTall) {
      color: white;
      font-size: .8rem;
    }
  }
}

.dropdown-menu-item {
  cursor: pointer;
  padding-left: 1em;
  text-align: center;
  
  &:hover {
    color: #e240ae;
    text-decoration: underline;
  }

}

.blog-left {
  position: fixed;
}
.blog-right {
  position: fixed;
  right: 2%;
}
.logo {
  position: relative;
  z-index: 10;
  // margin-top: 1.5rem;
  @include goldilocks(mama) {
    width: 150%;
    margin-left: -22%;

  }

  p {
    font-family: $font-heading;
    text-align: center;
    font-size: .7rem;
    text-transform: uppercase;
    margin-bottom: .25rem;
    @include goldilocks(baby) {
      font-size: .5rem;
    }
  }
}

.current {
  color: $pale-blue;
  border-bottom: 1px solid $pale-blue;
}

.floaters { 
  position: absolute;
  font-size: 1.2rem;
  color: $pale-blue; 
  font-family: $font-heading;
}
#manifesto-btn {
  position: absolute;
    left: 100px;
    top: 100px;
    &:after {
      content: "^^^^^^^^^^^^^^^^^^";
      letter-spacing: -.85px;
      font-size: 2rem;
      display: block;
      line-height:.7;
      color: $pale-blue;
    }
  } 
  #buy-current-issue {
    position: absolute;
    right: 100px;
    bottom: 100px;
    &:after {
      content: "__ _._..__._____...";
      display: block;
      line-height:0;
      color: $pale-blue;
    }
  }  

.covers{
  position: relative;
  margin-top: -18%;
  margin-bottom: 119%;
  margin-left: 3%;
   @include goldilocks(mamaTall) {
    margin-left: -3%;
   }
  @include goldilocks(mama) {
    margin-left: -17%;
    margin-top: -23%;
  }
  @include goldilocks(baby) {
    margin-top: -21%;
  }
  #stack1 {
    // position: absolute;
    // top:0;
    // left: 50%;
    // right: 0;
  }
  .c1{
  border: 4px solid black;
}
.c2{
  border: 4px solid #ff7a00;
}
.c3{
  border: 4px solid #8CBFE7;
}
.c4{
  border: 4px solid #00b376;
}
.c5{
  border: 4px solid magenta;
}
.c6{
  border: 4px solid pink;
}
}
article {
  position: absolute;
  overflow: hidden;
  width: 26rem;
  @include goldilocks(baby) {
    width: inherit;
  }
  img {
    cursor: pointer;
  }
  // @include goldilocks (baby) {
  //   width: 241px;
  //   height: 201px;
  // }
}
.banner {
  border: 2px solid $pale-blue;
  position: relative;
  // bottom: 8%;
  z-index: 20;
  background: $pale-pink;
  padding: .5rem;
  -webkit-box-shadow: 4px 4px 0px 0px rgba(140, 191, 231, 0.75);
  -moz-box-shadow:    4px 4px 0px 0px rgba(140, 191, 231, 0.75);
  box-shadow:         4px 4px 0px 0px rgba(140, 191, 231, 0.75);
  @include goldilocks(mamaTall) {
    margin-top: 16%;
  }
  @include goldilocks(mama) {
    margin-top: 35%;
  }

  .banner-text {
    font-size: .8rem;
  }
}
// marquee {
//   -webkit-marquee-speed: slow;
//   margin: 0 2rem;
// }

.blog-content {
  margin-top: 2%;

  .blurb {
    font-size: .8rem;
    @include goldilocks(mama) {
      font-size: .7rem;
      margin-top: 10%;
    }
    @include goldilocks(baby) {
      font-size: .7rem;
    }
  }
}
.grid-item {
  width: 23.5%;
  padding: 1rem;
  margin:.5rem;
  @include goldilocks(mamaTall) {
    width: 46.5%;
  }
  @include goldilocks(mama) {
    width: 31%;
  }
  @include goldilocks(baby) {
    margin: .6rem 0;
    width: 100%;
  }
}
.tag {
  font-size: .6rem;
  text-align: center;
}
.tag-image {
  border: 2px solid #f35982;
  a {
    transition: 200ms ease-in;
    &:hover {
      color:#f35982;
    }
  }
}
.tag-news {
  border: 2px solid #8cbfe7;
  a {
    transition: 200ms ease-in;
    &:hover {
      color:#8cbfe7;
    }
    &:hover {
      border-style:  dashed;
    }
  }
}
.tag-event {
  border: 2px solid #b1e2bf;
  a {
    transition: 200ms ease-in;
    &:hover {
      color: #b1e2bf;
    }
  }
}
.tag-interview {

  border: 2px solid #ffca78;
  h3 {
    transition: 200ms ease-in;
    &:hover{
      color: #ffca78;
    }
  }
}
.tag-conversation {
  border: 2px solid #ffd4ee;
  a {
    transition: 200ms ease-in;
    &:hover {
      color: #ffd4ee;
    }
  }
}
.tag-article {
  border: 2px solid #ecd1ff;
  a {
    transition: 200ms ease-in;
    &:hover {
      color: #ecd1ff;
    }
  }
}
.gradient {
  // width:2px;
  // content: "";
  // min-height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background: #fef6f7; /* Old browsers */
background: -moz-linear-gradient(top, #fef6f7 0%, #fce8ea 67%, #fccfd4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fef6f7 0%,#fce8ea 67%,#fccfd4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fef6f7 0%,#fce8ea 67%,#fccfd4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef6f7', endColorstr='#fccfd4',GradientType=0 ); /* IE6-9 */
}
footer {
  position: absolute;
  bottom: 0;

}


//MANIFESTO//

.manifesto {
  margin: 2rem 4rem 0 4rem;
  p {
    font-size: 1.2rem;
  }
  .manifesto-cell {
    padding: 2rem;
    background-color: white;
    border: 1px solid $pale-blue;
    -webkit-box-shadow: 4px 4px 0px 0px rgba(140, 191, 231, 0.75);
    -moz-box-shadow:    4px 4px 0px 0px rgba(140, 191, 231, 0.75);
    box-shadow:         4px 4px 0px 0px rgba(140, 191, 231, 0.75);
    transition: 0.1s ease-out;
    position: relative;
      &:hover {
        box-shadow:none;
        border: none;
      // -webkit-box-shadow:0 10px 6px -6px $base-clr;
      // -moz-box-shadow:0 10px 6px -6px $base-clr;
    }
    &:hover .overlay {
      opacity: 1;
      overflow: hidden;

    }
  }
}.overlay{
  position: absolute;
  top: 0px; bottom: 0px; right: 0px; left: 0px;
  opacity: 0;
  transition: 0.6s ease-out;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
  }
}

// BLOG POST //
.intro {
  font-family: $font-heading;
  margin: 2rem 0;
  border-bottom: 1px dashed black;
  padding-bottom: 2rem;

}
.question {
  font-weight: 700;
}

.blog-cover {
  margin-top: 6rem;
  @include goldilocks(mamaTall) {
    margin-top: 1rem;
  }
  @include goldilocks(mama) {
    margin-top: 2rem;
  }
  @include goldilocks(baby) {
    margin-top: 1rem;
  }
}
.socials {
  text-align: center;
  img {
    display: inline !important;
    &:hover {
      opacity: 0.7;
    }
  }
}
.blog-text {
  margin-bottom: 5rem;
  // border-bottom: 1px dashed black;
  padding: 3rem 0; 
  img {
    display: -webkit-box;
    margin: 0 auto;

  }
  @include goldilocks(mamaTall) {
    padding: 1.5rem 0;
  }
  @include goldilocks(baby) {
    padding: 1rem 0;
  }
}
.photo-essay {
  margin-bottom: 5rem; 
  
  img {
    margin: 0 auto;
    display: -webkit-box;
    padding: .5rem;
  }
  .vertical-img {
    margin-left: 10%;
  }
}
.increase-width img {
  width: 120%;
}

.footnote {
  font-size: .7rem;
  margin: 2rem 0;
  color: blue;
  a {
    border-bottom: 1px solid blue;
  }
}
.credits {
  font-size: .9rem;
}
// PUBLICATIONS //

.publications-top{
  margin-top: 4rem;
}

.grid-publications {
  // width: 45%;
  padding: 1.5rem;
  margin:.5rem 0;
  background: white;
  p {
    padding: 2rem;
  }
}
.press-links a{
  margin-bottom: .5rem;
  color: $pink;
  border-bottom: 1px solid $pink;
  display: table;
}

