/* 
Project Name: OOMK
Client: Sofia Niazi, Rose Nordin
Author: A Kamran
*/
/******************************************
/* BASE CSS HOVER                   
/*******************************************/
.element {
  display: inline;
  position: relative;
  z-index: 2;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -ms-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}

.element:hover,
.element:focus {
  outline: 0;
  color: #fff;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -ms-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
  cursor: pointer;
}

.element:before {
  -webkit-transition: all 1s ease;
  /* add delay if wanted */
  -moz-transition: all 1s ease;
  /* add delay if wanted */
  -ms-transition: all 1s ease;
  /* add delay if wanted */
  -o-transition: all 1s ease;
  /* add delay if wanted */
  transition: all 1s ease;
  /* add delay if wanted */
}

.element:after {
  -webkit-transition: all 1s ease;
  /* add delay if wanted */
  -moz-transition: all 1s ease;
  /* add delay if wanted */
  -ms-transition: all 1s ease;
  /* add delay if wanted */
  -o-transition: all 1s ease;
  /* add delay if wanted */
  transition: all 1s ease;
  /* add delay if wanted */
}

.element:hover:after,
.element:focus:after {
  outline: 0;
  background-color: #fff;
  -webkit-transition: all 1s ease;
  /* add delay if wanted */
  -moz-transition: all 1s ease;
  /* add delay if wanted */
  -ms-transition: all 1s ease;
  /* add delay if wanted */
  -o-transition: all 1s ease;
  /* add delay if wanted */
  transition: all 1s ease;
  /* add delay if wanted */
}

.element:hover:before,
.element:focus:before {
  outline: 0;
  background-color: #fff;
  -webkit-transition: all 1s ease;
  /* add delay if wanted */
  -moz-transition: all 1s ease;
  /* add delay if wanted */
  -ms-transition: all 1s ease;
  /* add delay if wanted */
  -o-transition: all 1s ease;
  /* add delay if wanted */
  transition: all 1s ease;
  /* add delay if wanted */
}

/******************************************
/* SETUP                   
/*******************************************/
/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES                   
/*******************************************/
/**/
audio,
canvas,
img,
video {
  vertical-align: middle;
}

:focus, :active, :hover {
  outline: none;
}

html {
  height: 100%;
}

body {
  background: #fef6f7;
  font-family: "Fira Mono", serif;
  margin: 1rem 2rem;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h2 {
  font-family: "Righteous", sans-serif;
  color: #8cbfe7;
  font-family: "Righteous", sans-serif;
  text-align: center;
  font-size: 1.75rem;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #8cbfe7;
  margin-top: 5.5rem;
  position: fixed;
  left: 0;
  letter-spacing: 1px;
}

h3 {
  font-family: "Righteous", sans-serif;
  text-align: center;
  font-size: 1.2rem;
  margin: 0.75rem;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  h3 {
    font-size: .9rem;
  }
}
@media only screen and (max-width: 500px) {
  h3 {
    font-size: .9rem;
  }
}

h4 {
  text-align: center;
  font-size: .9rem;
  margin: 0;
}
@media only screen and (max-width: 500px) {
  h4 {
    font-size: .7rem;
  }
}

h5 {
  font-size: 2rem;
  font-family: "Righteous", sans-serif;
  text-align: center;
  margin: 1.5rem 0 0.5rem 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  h5 {
    font-size: 1.5rem;
    margin: 0;
  }
}
@media only screen and (max-width: 500px) {
  h5 {
    font-size: 1.2rem;
    margin: 0;
  }
}

@media only screen and (max-width: 500px) {
  p {
    font-size: .9rem;
  }
}

.float img {
  float: left;
  width: 50%;
  padding: .5rem;
}

.rotate {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.nav {
  font-family: "Righteous", sans-serif;
  font-size: 1.3rem;
}
@media only screen and (max-width: 500px) {
  .nav {
    font-size: .9rem;
  }
}
.nav ul {
  margin: 0;
}
.nav ul li {
  display: inline;
  margin-right: 13rem;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .nav ul li {
    margin-right: 10rem;
  }
}
@media only screen and (max-width: 500px) {
  .nav ul li {
    margin-right: 1.1rem;
    font-size: .8rem;
  }
  .nav ul li:last-child {
    margin-right: 0;
  }
}
.nav ul li:last-child {
  margin-right: 0;
}
.nav .about:hover {
  color: #85e4a0;
  transition: 200ms ease-in;
  padding-bottom: 20px;
}
.nav .publications:hover {
  color: cornflowerblue;
  transition: 200ms ease-in;
}
.nav .projects:hover {
  color: #e240ae;
  transition: 200ms ease-in;
}
.nav .shop:hover {
  color: crimson;
  transition: 200ms ease-in;
}

.linethrough-left:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 3px;
  height: 3px;
}

.linethrough-left:hover:after {
  width: 100%;
  height: 3px;
  background-color: cornflowerblue;
}

.linethrough-left:after {
  right: 0;
  top: 50%;
  z-index: 9;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

#nav {
  position: relative;
}
#nav:hover > .dropdown-menu {
  display: block;
  opacity: 1;
}
#nav li {
  margin-right: 0;
  display: block;
  text-align: left;
}

.dropdown-trigger {
  position: relative;
}
.dropdown-trigger:focus + .dropdown-menu {
  display: grid;
  opacity: 1;
}
.dropdown-trigger::after {
  position: absolute;
  color: #e240ae;
  font-size: 20px;
  transform: rotate(90deg);
  top: -5px;
  right: -15px;
}

.dropdown-menu {
  display: inline-block;
  text-align: right;
  position: absolute;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 10rem;
  margin: .5rem;
}
.dropdown-menu .brows {
  padding: 1em;
}
@media only screen and (max-width: 500px) {
  .dropdown-menu {
    background: black;
    z-index: 20;
    padding: 1rem 0;
    width: 7rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .dropdown-menu {
    background: black;
    z-index: 20;
    padding: 1rem 0;
    width: 8rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .dropdown-menu {
    background: black;
    z-index: 20;
    padding: 1rem 0;
    width: 8rem;
  }
}
.dropdown-menu a {
  color: black;
  cursor: pointer;
  font-size: .9rem;
}
@media only screen and (max-width: 500px) {
  .dropdown-menu a {
    color: white;
    font-size: .8rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .dropdown-menu a {
    color: white;
    font-size: .8rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .dropdown-menu a {
    color: white;
    font-size: .8rem;
  }
}

.dropdown-menu-item {
  cursor: pointer;
  padding-left: 1em;
  text-align: center;
}
.dropdown-menu-item:hover {
  color: #e240ae;
  text-decoration: underline;
}

.blog-left {
  position: fixed;
}

.blog-right {
  position: fixed;
  right: 2%;
}

.logo {
  position: relative;
  z-index: 10;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .logo {
    width: 150%;
    margin-left: -22%;
  }
}
.logo p {
  font-family: "Righteous", sans-serif;
  text-align: center;
  font-size: .7rem;
  text-transform: uppercase;
  margin-bottom: .25rem;
}
@media only screen and (max-width: 500px) {
  .logo p {
    font-size: .5rem;
  }
}

.current {
  color: #8cbfe7;
  border-bottom: 1px solid #8cbfe7;
}

.floaters {
  position: absolute;
  font-size: 1.2rem;
  color: #8cbfe7;
  font-family: "Righteous", sans-serif;
}

#manifesto-btn {
  position: absolute;
  left: 100px;
  top: 100px;
}
#manifesto-btn:after {
  content: "^^^^^^^^^^^^^^^^^^";
  letter-spacing: -.85px;
  font-size: 2rem;
  display: block;
  line-height: .7;
  color: #8cbfe7;
}

#buy-current-issue {
  position: absolute;
  right: 100px;
  bottom: 100px;
}
#buy-current-issue:after {
  content: "__ _._..__._____...";
  display: block;
  line-height: 0;
  color: #8cbfe7;
}

.covers {
  position: relative;
  margin-top: -18%;
  margin-bottom: 119%;
  margin-left: 3%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .covers {
    margin-left: -3%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .covers {
    margin-left: -17%;
    margin-top: -23%;
  }
}
@media only screen and (max-width: 500px) {
  .covers {
    margin-top: -21%;
  }
}
.covers .c1 {
  border: 4px solid black;
}
.covers .c2 {
  border: 4px solid #ff7a00;
}
.covers .c3 {
  border: 4px solid #8CBFE7;
}
.covers .c4 {
  border: 4px solid #00b376;
}
.covers .c5 {
  border: 4px solid magenta;
}
.covers .c6 {
  border: 4px solid pink;
}

article {
  position: absolute;
  overflow: hidden;
  width: 26rem;
}
@media only screen and (max-width: 500px) {
  article {
    width: inherit;
  }
}
article img {
  cursor: pointer;
}

.banner {
  border: 2px solid #8cbfe7;
  position: relative;
  z-index: 20;
  background: #fef6f7;
  padding: .5rem;
  -webkit-box-shadow: 4px 4px 0px 0px rgba(140, 191, 231, 0.75);
  -moz-box-shadow: 4px 4px 0px 0px rgba(140, 191, 231, 0.75);
  box-shadow: 4px 4px 0px 0px rgba(140, 191, 231, 0.75);
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .banner {
    margin-top: 16%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .banner {
    margin-top: 35%;
  }
}
.banner .banner-text {
  font-size: .8rem;
}

.blog-content {
  margin-top: 2%;
}
.blog-content .blurb {
  font-size: .8rem;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .blog-content .blurb {
    font-size: .7rem;
    margin-top: 10%;
  }
}
@media only screen and (max-width: 500px) {
  .blog-content .blurb {
    font-size: .7rem;
  }
}

.grid-item {
  width: 23.5%;
  padding: 1rem;
  margin: .5rem;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .grid-item {
    width: 46.5%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .grid-item {
    width: 31%;
  }
}
@media only screen and (max-width: 500px) {
  .grid-item {
    margin: .6rem 0;
    width: 100%;
  }
}

.tag {
  font-size: .6rem;
  text-align: center;
}

.tag-image {
  border: 2px solid #f35982;
}
.tag-image a {
  transition: 200ms ease-in;
}
.tag-image a:hover {
  color: #f35982;
}

.tag-news {
  border: 2px solid #8cbfe7;
}
.tag-news a {
  transition: 200ms ease-in;
}
.tag-news a:hover {
  color: #8cbfe7;
}
.tag-news a:hover {
  border-style: dashed;
}

.tag-event {
  border: 2px solid #b1e2bf;
}
.tag-event a {
  transition: 200ms ease-in;
}
.tag-event a:hover {
  color: #b1e2bf;
}

.tag-interview {
  border: 2px solid #ffca78;
}
.tag-interview h3 {
  transition: 200ms ease-in;
}
.tag-interview h3:hover {
  color: #ffca78;
}

.tag-conversation {
  border: 2px solid #ffd4ee;
}
.tag-conversation a {
  transition: 200ms ease-in;
}
.tag-conversation a:hover {
  color: #ffd4ee;
}

.tag-article {
  border: 2px solid #ecd1ff;
}
.tag-article a {
  transition: 200ms ease-in;
}
.tag-article a:hover {
  color: #ecd1ff;
}

.gradient {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background: #fef6f7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fef6f7 0%, #fce8ea 67%, #fccfd4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fef6f7 0%, #fce8ea 67%, #fccfd4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fef6f7 0%, #fce8ea 67%, #fccfd4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fef6f7', endColorstr='#fccfd4',GradientType=0 );
  /* IE6-9 */
}

footer {
  position: absolute;
  bottom: 0;
}

.manifesto {
  margin: 2rem 4rem 0 4rem;
}
.manifesto p {
  font-size: 1.2rem;
}
.manifesto .manifesto-cell {
  padding: 2rem;
  background-color: white;
  border: 1px solid #8cbfe7;
  -webkit-box-shadow: 4px 4px 0px 0px rgba(140, 191, 231, 0.75);
  -moz-box-shadow: 4px 4px 0px 0px rgba(140, 191, 231, 0.75);
  box-shadow: 4px 4px 0px 0px rgba(140, 191, 231, 0.75);
  transition: 0.1s ease-out;
  position: relative;
}
.manifesto .manifesto-cell:hover {
  box-shadow: none;
  border: none;
}
.manifesto .manifesto-cell:hover .overlay {
  opacity: 1;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  opacity: 0;
  transition: 0.6s ease-out;
  overflow: hidden;
}
.overlay img {
  height: 100%;
  width: 100%;
}

.intro {
  font-family: "Righteous", sans-serif;
  margin: 2rem 0;
  border-bottom: 1px dashed black;
  padding-bottom: 2rem;
}

.question {
  font-weight: 700;
}

.blog-cover {
  margin-top: 6rem;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .blog-cover {
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .blog-cover {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .blog-cover {
    margin-top: 1rem;
  }
}

.socials {
  text-align: center;
}
.socials img {
  display: inline !important;
}
.socials img:hover {
  opacity: 0.7;
}

.blog-text {
  margin-bottom: 5rem;
  padding: 3rem 0;
}
.blog-text img {
  display: -webkit-box;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .blog-text {
    padding: 1.5rem 0;
  }
}
@media only screen and (max-width: 500px) {
  .blog-text {
    padding: 1rem 0;
  }
}

.photo-essay {
  margin-bottom: 5rem;
}
.photo-essay img {
  margin: 0 auto;
  display: -webkit-box;
  padding: .5rem;
}
.photo-essay .vertical-img {
  margin-left: 10%;
}

.increase-width img {
  width: 120%;
}

.footnote {
  font-size: .7rem;
  margin: 2rem 0;
  color: blue;
}
.footnote a {
  border-bottom: 1px solid blue;
}

.credits {
  font-size: .9rem;
}

.publications-top {
  margin-top: 4rem;
}

.grid-publications {
  padding: 1.5rem;
  margin: .5rem 0;
  background: white;
}
.grid-publications p {
  padding: 2rem;
}

.press-links a {
  margin-bottom: .5rem;
  color: magenta;
  border-bottom: 1px solid magenta;
  display: table;
}
