/*************
 * VARIABLES *
 *************/

// @import "foundation/components/global";
// @import "foundation/components/grid";
// @import "foundation/components/buttons";
// @import "foundation/components/forms";
// @import "foundation/components/dropdown-buttons";
// @import "foundation/components/flex-video";
// @import "foundation/components/top-bar";
// @import "foundation-";

$font-stack: 'Roboto Condensed', sans-serif;
$font-serif: 'Playfair Display', serif;
$color: #fcfcfc;
$text-color: #333333;
$heading-color: #f2f2f2;
$box1-color: #feb100;
$box2-color: #fec700;
$footer-color: #e1632d;

h1 {
 	font-size: 2rem;
 }

h2 {
 	font-size: 2rem;
 	padding-top: 2rem;
 }

h3 {
 	font-size: 1.5rem;
 }

p {
 	font-size: 1rem;
 	font-family: $font-serif;
 	line-height: 1.5rem;
 }

a {
	text-decoration: none;
	color: $heading-color;
}


/*************
 * MIXINS    *
 *************/

@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (max-width: 1048px) { @content; }
  }
  @else if $point == mama-bear {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 400px)  { @content; }
  }
}

@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin button($color) {
  // border-radius: 4px;
  padding: 1rem 2rem;
  background: $color;
  color: $text-color;
  text-align: center;
}



 /*************
  * BODY      *
  *************/

.row {
	max-width: 100%;
	padding: 0;
	margin: 0 auto;
}

.columns {
	padding: 0;
}

.hidden {
	visibility: hidden;
}

.ir {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.content {
	margin: 0rem 0rem 2rem 6rem;
	float: left;
		h2{
			@include breakpoint(mama-bear) { 
			font-size: 1.5rem;
			}
		}
		p, li{
			@include breakpoint(mama-bear) { 
			font-size: .9rem;
			}
		}
		@include breakpoint(mama-bear) { 
			margin: 0 0 2rem 3rem;
		}
}


body {
	background-color: #f2f2f2;
	font-family: $font-stack;
	// background: url(img/conference_room.jpg) no-repeat center center ;
	// background-size: cover;
	// -webkit-background-size: cover;
	// -moz-background-size: cover;
	// -o-background-size: cover;

}

.header {
	position: relative;
}

.crop-height {
	max-height: 500px;
	overflow: hidden;
	position: relative;

	// display: block;
}

li {
	list-style: none;
}

img.scale {
	max-width: 100%;
	display: block; 
	width: 100%; /* corrects obscure Firefox bug */
	
	/* just in case, to force correct aspect ratio */
	height: auto !important;
	/*width: auto\9; 
	/* ie8+9 - use modernizr instead of this \9 hack */
	/* lt ie8 */
	-ms-interpolation-mode: bicubic;
}

.flip {
	-webkit-transform: rotate(180deg);
	-moz-transform:    rotate(180deg);
	-ms-transform:     rotate(180deg);
	-o-transform:      rotate(180deg);
	transform:         rotate(180deg);
	/* needed? not sure */
	zoom: 1; 
}

img.flip {
	float: right;
}
 
.block:before {
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
 
 }

.blurb {
	// // position: absolute;
	// display: inline-block;
	// vertical-align: middle;
	font-family: 'Playfair Display', Georgia;
	font-size: 2rem;
	background-color: rgba(255, 255, 255, 0.6);
	// margin: -57% 0 0 10%;
	// width: 100%;
	padding: 3% 3% 10% 2%;
	float: left;
	transition: width 500ms;
	z-index: 1;
	top: 11%;
	margin-left: 4%;
	position: absolute;


	@include breakpoint(mama-bear) {
		padding-bottom: 11%;
	}

	@include breakpoint(baby-bear) {
		top: 10%;
		margin-left: 8%;
		padding-bottom: 16%;
	}
	

	.quote {
		padding: 7%;
		margin: 0 auto;
		// padding: 5rem 7rem 9rem 6rem;
		// float: left;
		// line-height: 2.5rem;
		// position: absolute;
		// margin-left: 3rem;
		// position: absolute;
		// top: 50%;
		// transform: 			translateY(-50%);

		

		@include breakpoint(mama-bear) { 
			// padding-bottom: 14%
		}

		@include breakpoint(baby-bear) { 
			font-size: 1.25rem;
			// line-height: 1.5rem;
			// padding-bottom: 14%
		}
	  
	}

	h2.author {
		font-size: 1rem;
		width: 23rem;
		clear: both;
		border-top: 1px solid #003baf;
		margin-left: 6%;
		padding-top: 10%;
		position: absolute;

		@include breakpoint(papa-bear) {
		padding-top: 6%;
		}

		@include breakpoint(baby-bear) { 
			margin-top: 1%;
			font-size: .75rem;
			width: 12rem;
			padding-top: 7%;
		}
	}
}

.bqstart {
 float: left;
 font-size: 200%;
 // margin: 1.5em 0 0 4rem;
 position: absolute;
 top: 5rem;
 left: 6rem;
 z-index: 1;

}

 .bqend {
 float: right;
 font-size: 200%;
 position: absolute;
 top: 12rem;
 left: 34rem;
}


.top-bar {
	// margin-top: 33.5%;
	transition: all 0.5s ease 0.1s;
	max-width: 100%;
	clear: both;
	list-style: none;

	ul.title-area {

		padding: 0 0 0 40px;

		@include breakpoint(papa-bear) { 
		padding:0 0 0 10px;
		}

		@include breakpoint(mama-bear) { 
		padding:0 0 0 10px;
		}

		@include breakpoint(baby-bear) { 
		padding:0 0 0 20px;
		}

	}

	.name h1 {
		font-family: $font-serif, serif;
		font-weight: 400;
		font-size: 1.75rem;
		color: $heading-color;
		width: 100%;

		@include breakpoint(papa-bear) { 
		font-size: 1.25rem;
		}

		@include breakpoint(mama-bear) { 
		font-size: 1rem;
		// line-height: 2.5rem;
		// padding:  4rem 5rem 10rem 6rem;
		}
		@include breakpoint(baby-bear) { 
			font-size: 1rem;
			margin-left: -0.5rem;
		}
	}

	.toggle-topbar {
		span {
			font-family: $font-serif;
			font-size: .75rem;
			list-style: none;
			font-weight: normal;
		}
	}

   .top-bar-section {

   		ul.right {
   			padding: 0;
   		}

   		li {
			margin-left: 0;
		}
		

		li > a {
			color: $color;
			text-decoration: none;
			font-size: 0.9rem;
			font-family: $font-serif;
			// position: absolute;
		}

		li:not(.has-form) a:not(.button) {
			background-color: none;
			color: $heading-color;
			margin-top: 0;
		
		@include breakpoint(papa-bear) { 
			font-size: .8rem;
			padding: 0 11px;
			}

			@include breakpoint(mama-bear) { 
			font-size: .8rem;
			padding: 0 6px;
			}
		

			@include breakpoint(baby-bear) { 
				font-size: .8rem;
				padding: 0 6px;
			}

		}

		li a:hover {
			color: $box2-color;
		}

		li.active:not(.has-form) a:not(.button) {
			background-color: transparent;
			color: $box1-color;	
		}
	}
}

.top-bar.expanded {
	margin-top: 0;
	padding: 0;
	float: none;
	.toggle-topbar.menu-icon a {
		color: #fff;
	}
}

.quick-nav {

	color: $heading-color;
	@include clearfix;
	max-height: 25rem;

	h3 {
	padding-left: 2rem;
	font-weight: 700; 
	font-family: 'Roboto Condensed', Helvetica, sans-serif;
	text-transform: uppercase;;

		@include breakpoint(mama-bear) {
		font-size: 1rem;

		}

		@include breakpoint(baby-bear) {
			font-size: 1.25rem;
			padding: 1.5rem;
			margin: 1 auto;
		}
	}

	p {
		margin: 2rem;
		font-weight: lighter;
	}

	.read-more a{
		font-family: $font-stack;
		color: $heading-color;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
	}

	.app-calendar {
		// height: 120px;
		margin-top: 1.1rem;
		width: 104px;
		float: left;
		-webkit-box-shadow: -10px 14px 11px -14px $text-color;
		box-shadow: -10px 14px 11px -14px $text-color;

			@include breakpoint(mama-bear) {
			margin-top: 1.1rem;
			}
		
		.app-city {
			font-size: 1rem;
			color: $heading-color;
			margin: 1rem;
			text-align: center;
			text-transform: uppercase;
		}

		#month {
			background: $footer-color;
			color: #f9f9f9;
			font-size: 24px;
			line-height: 40px;
			position: relative;
			font-size: .90rem;
			text-align: center;
		}

		#day {
			background: $box1-color;
			color: $heading-color;
			font-size: 3rem;
			font-weight: bold;
			height: 62px;
			line-height: 59px;
			text-align: center;
		}
	}

	.box-1 {
		background-color: $box1-color;
		width: 25%;
		float: left;
		overflow: hidden;
		max-height: 20rem;

		@include breakpoint(mama-bear) { 
		width: 50%;
		max-height: 15rem;
		float:right;
		}
		@include breakpoint(baby-bear) {
		width: 50%;
		max-height: 7rem;
		}
	}
	.box-2 {
		background-color: $box2-color;
		width: 25%;
		float: left;
		overflow: hidden;
		max-height: 20rem;

		@include breakpoint(mama-bear) { 
		width: 50%;
		max-height: 15rem;
		}

		@include breakpoint(baby-bear) { 
		width: 50%;
		max-height: 7rem;
		}
	}
	.box-3 {
		background-color: $box1-color;
		width: 25%;
		float: left;
		overflow: hidden;
		max-height: 20rem;

		@include breakpoint(mama-bear) { 
		width: 50%;
		max-height: 15rem;
		}

		@include breakpoint(baby-bear) { 
		font-size: 1rem;
		width: 50%;
		max-height: 7rem;
		}
	}
	.box-4 {
		background-color: $box2-color;
		width: 25%;
		float: left;
		overflow: hidden;
		max-height: 20rem;

		@include breakpoint(mama-bear) {
		width: 50%;
		max-height: 15rem;
		}

		@include breakpoint(baby-bear) { 
		width: 50%;
		max-height: 7rem;
		}
	}

}


footer {
	color: $heading-color;
	text-align: left;
	clear: both;
	margin: 0;
	width: 100%;
	background-color: $footer-color;
	position: absolute;

	p {
		margin-top: 2.5rem;
		padding: 1rem;
		float: left;
		// background-color: $footer-color;
	}

	li, li a {
		font-family: $font-serif;
		font-size: 1rem;
		color: $text-color;
		&:hover {
			color: $box2-color;
		}
	}

	.jerry {
		padding-top: 0.5rem;
		font-style: italic;
		margin-top: -1rem;
	}

	.contact {
		padding: 1rem;
		font-size: 1.5rem;
		float: right;
		margin: 4% 16%;
		background-color: $footer-color;
	}

	.address {
		border-bottom: 1px solid $text-color;
		padding-bottom: .5rem;
	}

	.sprite {
    	background: url('../img/sprites.png') no-repeat;

	}

	.socials-icon {
	    display: block;
	    width: 40px;
	    height: 40px;
	    // margin: 0 auto;
	    // float: left;
	}

	.phone {
		background-position: -4px -0.00000762939453125px;
		&:hover {
			background-position: -49.98750305175781px 0;
		}
	}
	.twitter {
	background-position: -3.0000076293945312px -53px;
		&:hover {
			background-position: -50.975006103515625px -53.00000762939453px;
		}
	}
	.email {
		
	background-position: 0 -103.00000762939453px;
		&:hover {
			background-position: -50.98750305175781px -103.00000762939453px;
		}
	}

}


.buttons {

	.book {
		background-color: $box1-color;
		border-color: $footer-color;

	}

	.btn {
	position: relative;
  	display: block;
  	// border: 1px solid #ccc;
  	text-decoration: none;
  	padding: 1rem;
  	transform-style: flat;
  	transition: all 250ms ease-out;
  	border-bottom: 3px solid $footer-color;
	border-right: 3px solid $footer-color;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
  
	  &:before,
	  &:after {
	      content: "";
	      position: absolute;
	      z-index: -2;
	    	transition: all 250ms ease-out;
 		}
	}

	.paper p{
	  	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;

	}

	.paper-raise-flatten {
	  border-color: $footer-color;
	  box-shadow: none;
	  
	  &:before {
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
	  }
	  &:hover {
	    border-color: #f15a24;
	    
	    &:before {
				box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
	    }
	  }
	}
}



/*************
 * COURSES    *
 *************/
ul.learning-points {

	li {
		list-style: disc;
		line-height: 1.5rem;
		font-family: $font-serif;
	}
}

.course-info {
	float: right;
	font-family: "Roboto Condensed";
	color: $heading-color;
	clear: both;

	p {
		font-family: "Roboto Condensed";
		}

	.speaker-blurb {
		background-color: #666666;
	}

	.upcoming, .instructor {
		background-color: $text-color;
		padding: 1rem;
		margin: 5rem 0 0 0;
		text-align: center;
			@include breakpoint(mama-bear) { 
			font-size: 1rem;
			}
	}

	.date, .venue, .info {
		background-color: #666666;
		color: $heading-color;
		padding: 1rem;
		text-align: left;
		margin: 0;
		@include breakpoint(mama-bear) { 
			font-size: .9rem;
			}
	}

	.name, .byline {
		font-size: .75rem;
			@include breakpoint(mama-bear) { 
			font-size: .8rem;
			}
	}

	.byline {
		padding-left: 1rem;
	}

	.name {
		border-bottom: 1px solid $heading-color;
		margin: 1rem 7rem 0 1rem;
		padding-bottom: 1rem;
	}

	.info {
		margin-bottom: 2rem;
	}

	.speaker-pic {
		float: right;
		padding: 1rem;
	}

	.course-icon {
		float:right;
		margin: -1rem 0 0 0;
	}

	.tickets {
		background-color: #999999;
		color: $heading-color;
		padding: 1rem;
		margin: 0;
		text-align: center;
	}

	// .book a {
	//   		@include button (#f7931e);
	//   		border-bottom: 3px solid #f15a24;
	// 		border-right: 3px solid #f15a24;
	//   	}

}