// colors

$heading: #756a66;
$accent: #ffdf89;
$body: #2c2724;
$light: #dfdad9;


// fonts 
// @import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

$font-stack:'Sorts Mill Goudy', serif;
$font-sans: 'Gill Sans', sans-serif;


//header height

$header-height-S: 50px;
$header-height-M: 80px;

// z-index 

$content-zindex: 1;
$nav-zindex: 2;
$header-zindex: 3;
