/* 
Project Name: Tentative Collective Website
Client: Yaminay Chaudhri, Mehreen Murtaza
Author: A Kamran
*/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear {
	clear: both;
}


/******************************************
/* BASE STYLES                   
/*******************************************/
/**/

audio,
canvas,
img,
video {
    vertical-align: middle;
}

:focus, :active, :hover {
  outline: none;
}


html {
  height: 100%;
}
body {
  font-family: $font-sans;
  overflow-x: hidden;
  position: relative;
}

.row {
  max-width: 67.5em;
}
nav {
  position: fixed;
  top: 0;
}

ul {
  margin: 2rem;
}
 li {
  list-style: none;
 }
h1 {
  font-family: $font-serif;
  font-weight: normal;
}

h2 {
  font-size: .8rem;
  color: $blue;
  font-family: $font-sans;
  margin: 2.25rem 7rem;
  position: fixed;
  text-transform: uppercase;
}
h3 {
  margin: 7rem 0px 0 0;
  font-size: .9rem;
  background: $blue;
  padding: .25rem .75rem;
  display: inline-block;
  color: white;
}
h5 {
  font-size: 1.75rem;
  line-height: 1.85rem;
  font-family: $font-serif;
  text-align: left;
  height: 21rem;
}
p{
  font-size: .9rem;
}
a {
  color: black;
  transition: .25s ease-in-out;
  &:hover {
    color: $pink;
  }
}
tr { 
  vertical-align: top;
}
 button {
    display: block;
    background: $pink;
    margin: 1rem 2rem 0 1rem;
    color: white;
    font-size: .8rem;
    padding: .25rem .75rem;
    transition: .5s ease-in-out;
    &:hover{
      background: white;
      color: $pink;
      border: 1px solid $pink;
    }
    &:focus {
      background: $pink;
    }
    &:hover a {
      color: $pink;
    }
    a {
      color: white;
    }
  }
button.email {
  margin: 1rem 2rem 0 0rem;;
}
.tickets {
  margin: 1rem 2rem 1rem 3rem;
}
.post {
  -webkit-columns: 500px;
  -webkit-column-gap: 40px;
    -webkit-column-rule: 4px outset #ff00ff;
  // width: 500px; 
  padding: 0;
  margin-right: 3rem;
  text-align: justify;
    font-size:.9rem;
}
/******************************************
/* HEADER & NAV                  
/*******************************************/
/**/
// header {
//   float: left;
//   margin: 10rem -2.5rem;
// }
.name {
  position: relative;
  height: 1em;
  font-size: 1.74rem;
  font-family: $font-serif;
  clear: both;
  &:before {
    content: attr(title);
    // position: absolute;
    left: 0;
    top: 0;
    color: $blue;
  }
}

.split {
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  height: 0.8em;
  overflow: hidden;
}

.rotate {
  top: 15rem;
  left: 2rem;
  z-index: 4;
  position: fixed;
 -webkit-transform-origin: 0 0;
  -moz-transform-origin:    0 0;
  -ms-transform-origin:     0 0;
  -o-transform-origin:      0 0;
  
  -webkit-transform: rotate(-90deg); 
  -moz-transform:    rotate(-90deg); 
  -ms-transform:     rotate(-90deg); 
  -o-transform:      rotate(-90deg); 

}

.circle {
  margin:2rem;
  z-index: 4;
  position: fixed;
  z-index: 999;
}
.circle-home {
  margin: 0rem 2rem;
}
.black{
  height:15px;
  width:30px;
  border-radius: 90px 90px 0 0;
  -moz-border-radius: 90px 90px 0 0;
  -webkit-border-radius: 90px 90px 0 0;
  background:$blue;
  -webkit-transform: rotate(-180deg) translateX(-100%);
  transition: .35s all ease-in-out;
 
}
.blue{
  height:15px;
  width:30px;
  border-radius: 90px 90px 0 0;
  -moz-border-radius: 90px 90px 0 0;
  -webkit-border-radius: 90px 90px 0 0;
  background: black;
}
.menu-text {
  opacity: 0;
  color: black;
  font-size: .5rem;
  outline: none;
  z-index: 999;
  &:hover {
    outline: none;
  }
  &:focus {
    outline: none;
  }
   &:active {
    outline: none;
  }      

  @include vendor(transition, all .5s ease-in);
  margin:1rem 2rem;
  float: left;
  text-transform: uppercase;
  position: relative;
  @include goldilocks (baby) {
  display: none;
  }
}
.menu-home {
  margin: -1rem 2rem;
}
.menu-list {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  // background: $blue;
  overflow: hidden;
  max-height: 100%; /* approximate max height */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  z-index: 30;
  ul{
    float: left;
    margin: 2rem 5.75rem;
  }
  li{
    list-style: none;
    font-size: .75rem;
    color: white;
    text-transform: uppercase;
    display: inline;
    padding: 1.2rem;
    z-index: 3;
  }
  a {
    text-decoration: none;
    padding: 0;
    color: white;
    border-bottom: none;
    &:hover {
      background-color: $pink;
    }
  }
}
.menu-list.opened { 
  /* visible */
  -webkit-transform: translate(0, 0%);
     -moz-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
}

.closed { 
    /* completely offscreen */
      transform: translateY(-100%);

    -webkit-transform: translate(0, -100%);
       -moz-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
}

#nav-trigger {
  top: 0;
  z-index: 35;
  position: fixed;
  &:hover .menu-text {
    opacity: 1 ;
  }
  &:hover .black{
  -webkit-transform: rotate(-180deg) translateX(0%);
  }
}
.triangle-up-left {
    width: 100%;
    height: 0;
    // padding-bottom: 49%;
    padding-left: 100%;
    // overflow: hidden;
}
.triangle-up-left:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: -100vw;
    border-bottom: 100vh solid transparent;
    border-left: 100vw solid blue;
}

.triangle-bg {
  width: 30%;
  height: 504px;
    // padding-bottom: 49%;
  padding-left: 504px;
  padding-right: inherit;
  padding-top: 0;
}
.triangle-bg:after {
  content: "";
    display: block;
    width: 0;
    margin-left: -504px;
    border-bottom: 504px solid transparent;
    border-left: 504px solid $blue;
}
/******************************************
/* HOMEPAGE                 
/*******************************************/
/**/
.highlight {
  display: inline;
  white-space: pre-wrap;
  padding: 0 .25rem;
  transition: .35s all ease-in-out;
}
p.inner {
  font-size: 2.75rem;
  font-family: $font-sans;
  position: absolute;
  // top: 45%;
  // left: 52%;
  // transform: translate(-50%, -50%);
  transition: .35s all ease-in-out;
  text-decoration: none;
  color: black;
  line-height: 3.5rem;
  margin: auto;
    left:28%; right:0;
    top:25%; bottom:0;
  &:hover {
   cursor: url(../img/book_flip.gif);
  // text-shadow:  1px 2px rgba(magenta, 0.75),
  //              1px -2px rgba(cyan, 0.75),
  //               3px 4px rgba(yellow, 0.75);  
  }

}
// .inner {
//    transition: .3s; 
//   transform: rotateY(40deg);


.quick-links {
  a {
    color: $blue;
    font-size: 1.25rem;
    list-style: none;
    font-family: $font-serif;
  }
  li {
    list-style: none;
    &:hover .highlight {
      background-color: $pink;
      color: white;
    }
  }
  .buy {
    float: right;
    // margin: -80% 2%;
    text-align: right;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
  .events {
    float: right;
    // margin-top: 80%;
    text-align: right;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
  .submit {
    float: left;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
  }
}
.reveal-modal {
  width: 38rem;
  top: 60px;
  padding: 0;
  border: none;
  border-radius: 0;
  background: $blue;
  box-shadow: none;
  p {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
.modalTitle {
  color: $pink;
  padding: 3rem 0 .25rem;
  font-family: $font-serif;
  margin: 0 2rem 1rem 3rem;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  display: block;
}
#firstModal.reveal-modal {
  
  p {
    // float: left;
    // clear: both;
    color: white;
    margin: 1rem 3rem 0 1rem; 
    float: left;
  }
  .issue-title {
    font-size: 1rem;
    padding: 2rem 0 0 2rem;
  }
  .modal-img {
    width: 21rem;
    padding: 0 0 3rem 3rem;
    float: left;
  }
  .price {
    padding: 0rem;
    margin: 0rem 0 0 1rem;
    display: inline-block;
    float: left;
  }
  .past-issues {
    color: $pink;
    float: left;
    margin: 1rem;
    padding: 0;
  }
  button {
    float: left;
  }
}
.modal-event {
  .modalTitle {
    float: none;
  }
  p {
    padding: 0 3rem;
    color: white;
  }
  
}
.reveal-modal >:last-child {
  margin-bottom:3rem;
  // font-size: .8rem;
  // line-height: 1rem;
}
.cont-modal {
  background: white;
  border: 4px solid blue;
  p {
    color: black;
    font-size: .9rem;  
  }
  ul {
    margin-left: 3rem;
  }
  li {
    padding: 0 0rem .5rem 0rem;
  }
  a {
    font-size: .8rem;
    &:hover {
      color: $pink;
    }
  }
}
header:hover {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#alt_logo {
  display: none;
  position: relative;
  width: 50%;
  margin: 0 auto;
  top: 42vh;
}

/******************************************
/* CONTACT                
/*******************************************/
/**/
.contact-page {
  margin: 10rem 13rem;
  position: absolute;
}
.contact {
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: .9rem;
  }
}
.contact-heading {
  margin: 2rem 0 2rem 0;
}
input[type="text"] {
  border: 1px solid $blue;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.3);
  font-size: .8rem;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background: white;
  color: blue;
}
.btn {
  background: $blue;
  color: $pink;
  border: none;
  padding: .5rem;
  font-size: .8rem;
  transition: .5s ease-in-out;
  &:hover {
    background: white;
    color: blue;
    border: 1px solid $blue;
  }
}
.ir {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.socials-icon {
  display: block;
  width: 52px;
  height: 52px;
  float: left;
}

/******************************************
/* ABOUT                
/*******************************************/
/**/
.row-about {
  max-width: 78.5em;
}
.padding-left {
  padding-left: 0;
}

.about-page {
  margin: 11rem 7rem;
  position: absolute;
}
.slant:after {
  border-left: 2px solid blue;
  content: '';
  display: inline-block;
  height: 25.5rem;
  position: absolute;
  top: 48%;
  -webkit-transform: translateY(-50%) rotate(11deg);
  -ms-transform: translateY(-50%) rotate(11deg);
  transform: translateY(-50%) rotate(11deg);
  width: 0;
  right: -70px;
}
.slant-paper:after {
  top: 52%;
  height: 28rem;
  right: -83px;
}
.slant-events:after {
  top: 52%;
  height: 29.5rem;
  right: -83px;
}
.pull-quote  {
  font-size: 1.25rem;
  color: $blue;
  width: 300px;
}


.dot {
  border-radius: 50%;
  background: $blue;
  width: 10px;
  height: 10px;
}

/******************************************
/* PAPER MACHINES                
/*******************************************/
/**/
.margin-paper {
  margin: 8rem 7rem;
  position: absolute;
}
.paper-row {
  margin-left: 2rem;
}
.post-paper {
  padding: 0;
  width: 310px;
  margin: 3rem 7rem 0 0;
}
.post-machine {
  margin-right: 6rem;
}
.paper-info {
  padding: .5rem 0;
  margin-top: 1.5rem;
  p {
    font-size: .75rem;
    margin-bottom: 0;
  }
  .btn {
    padding: .75rem;
    font-size: .85rem;
    &:hover {
      background-color: $pink;
      color: $blue;
    }
  }
  .price {
      color: $blue;
      display: inline-block;
      margin-bottom: .25rem;
      font-size: .8rem;
    }
}
#machine1, #machine2, #machine3 {
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    cursor: pointer;
}
article {
  position: absolute;
  width: 480px;
  height: 400px;
  overflow: hidden;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
  img {
    cursor: pointer;
  }
}
.machine-details {
  background-color: white;
  color: blue;
  font-size: 1.25rem;
  text-align: left;
  padding: 28%;
  font-family: $font-serif;
  border: 2px solid $blue;
}
.event-details {
  padding: 19%;
}
.grid-overlay {
  position: absolute;
  top: 0px;
  bottom: -20px;
  right: 10px;
  left: 0px;
  opacity: 0;
  background: $blue;
  transition: 0.6s ease-in-out;
  padding: 28% 22%;
  p {
    color: white;
    font-size: 1rem;
    text-align: left;
    font-family: $font-serif;
  }
}
// .item {
//   position: relative;
//   overflow: hidden;
//   &:hover .grid-overlay {
//     opacity: 1;
//   }
// }

/******************************************
/* EVENTS              
/*******************************************/
/**/
.margin-events {
  margin: 1rem 5rem 0 0;
}
.margin-first-event {
  margin-right: 0;
}
p.event-title{
  font-family: $font-serif;
  color: blue;
  font-size: 1.5rem;
  margin-bottom: 0;
}
p.event-date {
  font-family: $font-serif;
  color: blue;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.event-blurb{
  font-family: $font-serif;
  font-size: 2.75rem;
  text-align: left;
  line-height: 2.75rem;
  padding: 22%;
}
.event-info {
  margin-top: 2rem;
  p {
    font-size: .9rem;
    text-align: left;
  }
  .title {
    font-size: 1rem;
    color: blue;
  }
}
.past-events{
  margin-left: -10rem;
}
.ticket-tooltip {
  background: $blue;
  color: white;
  font-family: $font-sans;
}
#event1, #event2, #event3 {
  position: relative;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  cursor: pointer;
}
.stack-top {
  border: 4px solid $blue;
}
/******************************************
/* CONTRIBUTORS                 
/*******************************************/
/**/

.editors {
  font-size: 2rem;
  font-family: $font-serif;
  text-align: left;
  margin: -2rem 0;
}

.contributors {
  margin-left: -26.5rem;
}

.cont-list {
  font-size: 1.25rem;
  text-align: left;
  margin: -2rem 0;
  line-height: 2.75rem;
}

.slant-editor:after {
  right: -5px;
  top: 126%;
  height: 28rem;
}
.slant-cont:after {
  right: -5px;
  top: 52%;
  height: 28rem;
}
.slant-contact:after {
  right: -92px;
  top: 100%;
}

/******************************************
/* ISSUES                 
/*******************************************/
/**/
.current-issue {
  margin-right: 0rem;
}
.past-issue {
  color: blue;
  font-size: .8rem;
  width: 80px;
  margin: 3rem;
}
.archive {
  margin-left: -22.5rem;
}
.issue-info {
  color: $blue;
  font-size: .8rem;
  a {
    color: $blue;
    border-bottom: 1px solid $blue;
  }
}
.issue-title {
  font-size: 1rem;
  color: $pink;
  margin: 2rem 0 0 0;
}
.issue-btn {
  font-size: .7rem;
  font-weight: normal;
  padding: .25rem .75rem;
  border: 1px solid blue;
  background: white;
  color: blue;
  cursor: pointer;
  transition: .6s ease-in-out;
  &:hover {
    color: $pink;
    border: 1px solid $pink;
  }
}
// span.has-tip.issue-btn.open{
//   background: blue;
//   color: white;
//   font-size: .7rem;
// }

.slash {
  float: left;
  font-size: 2.5rem;
  color: blue;
  font-family: -webkit-pictograph;
  margin: 2.5rem 5rem;
  letter-spacing: -4px;
}
.slash-about {
  margin-top: -0.5rem;
}





