/* 
Project Name: Tentative Collective Website
Client: Yaminay Chaudhri, Mehreen Murtaza
Author: A Kamran
*/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear {
	clear: both;
}


/******************************************
/* BASE STYLES                   
/*******************************************/
/**/

audio,
canvas,
img,
video {
    vertical-align: middle;
}


html {
  height: 100%;
}
body {
  font-family: $font-sans;
  overflow-x: hidden;
}

ul {
  margin: 2rem;
}

h1 {
  font-family: $font-serif;
  font-weight: normal;
}

/******************************************
/* HEADER & NAV                  
/*******************************************/
/**/
// header {
//   float: left;
//   margin: 10rem -2.5rem;
// }
.name {
  position: relative;
  height: 1em;
  font-size: 1.74rem;
  font-family: $font-serif;
  clear: both;
  &:before {
    content: attr(title);
    position: absolute;
    left: 0;
    top: 0;
    color: $blue;
  }
}

.split {
  color: black;
  position: absolute;
  left: 0;
  top: 0;
  height: 0.6em;
  overflow: hidden;
}

.rotate {
  top: 15rem;
  left: 2rem;
  z-index: 2;
 -webkit-transform-origin: 0 0;
  -moz-transform-origin:    0 0;
  -ms-transform-origin:     0 0;
  -o-transform-origin:      0 0;
  
  -webkit-transform: rotate(-90deg); 
  -moz-transform:    rotate(-90deg); 
  -ms-transform:     rotate(-90deg); 
  -o-transform:      rotate(-90deg); 

}

.circle {
  padding: 2rem;
  z-index: 2;
  position: fixed;
  &:hover .black{
  -webkit-transform: rotate(-180deg) translateX(0%);
  }
}
.black{
  height:15px;
  width:30px;
  border-radius: 90px 90px 0 0;
  -moz-border-radius: 90px 90px 0 0;
  -webkit-border-radius: 90px 90px 0 0;
  background:$blue;
  -webkit-transform: rotate(-180deg) translateX(-100%);
  transition: .35s all ease-in-out;
 
}
.blue{
  height:15px;
  width:30px;
  border-radius: 90px 90px 0 0;
  -moz-border-radius: 90px 90px 0 0;
  -webkit-border-radius: 90px 90px 0 0;
  background: black;
}
.menu-text {
  opacity: 0;
  color: black;
  font-size: .5rem;
  @include vendor(transition, all .5s ease-in);
  margin: 1rem 2rem;
  float: left;
  text-transform: uppercase;
  position: relative;
  @include goldilocks (baby) {
  display: none;    
  }
}
.menu-list {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  // background: $blue;
  overflow: hidden;
  max-height: 100%; /* approximate max height */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  z-index: 2;
  ul{
  float: left;
  }
  li{
    list-style: none;
    font-size: .75rem;
    color: white;
    text-transform: uppercase;
    display: inline;
    padding: 1.75rem;
    z-index: 3;
  }
  a {
    text-decoration: none;
    padding: 0;
    &:hover {
      background-color: $pink;
    }
  }
}
.menu-list.opened { 
  /* visible */
  -webkit-transform: translate(0, 0%);
     -moz-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
}

.closed { 
    /* completely offscreen */
      transform: translateY(-100%);

    -webkit-transform: translate(0, -100%);
       -moz-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
}

#nav-trigger {
  position: absolute;
  top: 0;
  z-index: 3;
  &:hover .menu-text {
    opacity: 1 ;
  }
}
.triangle-up-left {
    width: 100%;
    height: 0;
    // padding-bottom: 49%;
    padding-left: 100%;
    // overflow: hidden;
}
.triangle-up-left:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: -1450px;
    border-bottom: 705px solid transparent;
    border-left: 1450px solid $blue;
}
/******************************************
/* HOMEPAGE                 
/*******************************************/
/**/
.highlight {
  display: inline;
  white-space: pre-wrap;
  padding: 0 .25rem;
  transition: .35s all ease-in-out;
}
a.heading {
  font-size: 2.75rem;
  font-family: $font-sans;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .35s all ease-in-out;
  text-decoration: none;
  color: black;
  
  &:hover {
   cursor: url(../img/book_flip.gif);
  // text-shadow:  1px 2px rgba(magenta, 0.75),
  //              1px -2px rgba(cyan, 0.75),
  //               3px 4px rgba(yellow, 0.75);  
  }

}
// .inner {
//    transition: .3s; 
//   transform: rotateY(40deg);
}

.quick-links a {
  color: $blue;
  font-size: 1.25rem;
  list-style: none;
  font-family: $font-serif;
  li {

    &:hover .highlight {
      background-color: $pink;
      color: white;
    }
  }
  .buy {
    float: right;
    // margin: -80% 2%;
    text-align: right;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
  .events {
    float: right;
    // margin-top: 80%;
    text-align: right;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
  .submit {
    float: left;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
  }
}
