@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
/* 
Project Name: Tentative Collective Website
Client: Yaminay Chaudhri, Mehreen Murtaza
Author: A Kamran
*/
/******************************************
/* SETUP                   
/*******************************************/
/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES                   
/*******************************************/
/**/
audio,
canvas,
img,
video {
  vertical-align: middle;
}

:focus, :active, :hover {
  outline: none;
}

html {
  height: 100%;
}

body {
  font-family: "Helvetica", sans-serif;
  overflow-x: hidden;
  position: relative;
}

.no-columns.overflow-hidden {
  /* when primary navigation is visible, the content in the background won't scroll */
  overflow: hidden;
  position: fixed;
}

.yes-columns.overflow-hidden {
  /* when primary navigation is visible, the content in the background won't scroll */
  overflow: hidden;
}

body.overflow {
  overflow: hidden;
}

.row {
  max-width: 67.5em;
}

nav {
  position: fixed;
  top: 0;
}

ul {
  margin: 2rem;
}

li {
  list-style: none;
}

h1 {
  font-family: "Garamond", serif;
  font-weight: normal;
}

h2 {
  font-size: .8rem;
  color: blue;
  font-family: "Helvetica", sans-serif;
  margin: 2.25rem 7rem;
  position: fixed;
  text-transform: uppercase;
  z-index: 2;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  h2 {
    font-size: .8rem;
    margin-left: 7.5rem;
  }
}
@media only screen and (max-width: 435px) {
  h2 {
    font-size: .8rem;
    margin-left: 5.5rem;
    z-index: 15;
  }
}

h3 {
  margin: 7rem 0px 0 0;
  font-size: .9rem;
  background: blue;
  padding: .25rem .75rem;
  display: inline-block;
  color: white;
}

h5 {
  font-size: 1.75rem;
  line-height: 1.85rem;
  font-family: "Garamond", serif;
  text-align: left;
  height: 21rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  h5 {
    font-size: 1.5rem;
    height: 19rem;
    line-height: 1.8rem;
  }
}
@media only screen and (max-width: 435px) {
  h5 {
    font-size: 1.15rem;
    line-height: 1.5rem;
    height: auto;
  }
}

p {
  font-size: .95rem;
}

a {
  color: black;
  transition: .25s ease-in-out;
}
a:hover {
  color: magenta;
}
a:focus {
  color: inherit;
}

tr {
  vertical-align: top;
}

button {
  display: block;
  background: magenta;
  margin: 1rem 2rem 0 1rem;
  color: white;
  font-size: .8rem;
  padding: .25rem .75rem;
  transition: .5s ease-in-out;
  border: 1px solid magenta;
}
button:hover {
  background: white;
  color: magenta;
  border: 1px solid magenta;
}
button:focus {
  background: magenta;
}
button:hover a {
  color: magenta;
}
button a {
  color: white;
}

button.email {
  margin: 1rem 2rem 0 0rem;
}

.tickets {
  margin: 1rem 2rem 3rem 3rem;
}

.post {
  width: 500px;
  padding: 0;
  margin-right: 5rem;
  text-align: justify;
  font-size: .9rem;
}
@media only screen and (max-width: 435px) {
  .post {
    width: 250px;
  }
}

.column + .column:last-child,
.columns + .column:last-child,
.column + .columns:last-child,
.columns + .columns:last-child {
  float: left;
}

/******************************************
/* HEADER & NAV                  
/*******************************************/
/**/
.name {
  position: relative;
  height: 1em;
  font-size: 1.74rem;
  font-family: "Garamond", serif;
  clear: both;
}
.name:before {
  content: attr(title);
  left: 0;
  top: 0;
  color: blue;
}
@media only screen and (max-width: 435px) {
  .name {
    font-size: 1rem;
  }
}

.split {
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  height: 0.8em;
  overflow: hidden;
}

.rotate {
  top: 15rem;
  left: 2rem;
  z-index: 4;
  position: fixed;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
@media only screen and (max-width: 435px) {
  .rotate {
    top: 10rem;
  }
}

.circle {
  margin: 2rem;
  z-index: 4;
  position: fixed;
  z-index: 999;
}

.circle-home {
  margin: 0rem 2rem;
}

.blue {
  height: 15px;
  width: 30px;
  border-radius: 90px 90px 0 0;
  -moz-border-radius: 90px 90px 0 0;
  -webkit-border-radius: 90px 90px 0 0;
  background: blue;
  -webkit-transform: rotate(-180deg) translateX(-100%);
  transition: .35s all ease-in-out;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .blue {
    height: 12px;
    width: 24px;
  }
}
@media only screen and (max-width: 435px) {
  .blue {
    height: 12px;
    width: 24px;
  }
}

.black {
  height: 15px;
  width: 30px;
  border-radius: 90px 90px 0 0;
  -moz-border-radius: 90px 90px 0 0;
  -webkit-border-radius: 90px 90px 0 0;
  background: black;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .black {
    height: 12px;
    width: 24px;
  }
}
@media only screen and (max-width: 435px) {
  .black {
    height: 12px;
    width: 24px;
  }
}

.menu-text {
  opacity: 0;
  color: black;
  font-size: .5rem;
  outline: none;
  z-index: 999;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  margin: 1rem 2rem;
  float: left;
  text-transform: uppercase;
  position: relative;
}
.menu-text:hover {
  outline: none;
}
.menu-text:focus {
  outline: none;
}
.menu-text:active {
  outline: none;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .menu-text {
    display: none;
  }
}
@media only screen and (max-width: 435px) {
  .menu-text {
    display: none;
  }
}

.menu-list {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  overflow: hidden;
  max-height: 100%;
  /* approximate max height */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  z-index: 30;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width: 435px) {
  .menu-list {
    background: blue;
    position: fixed;
    width: 100vw;
    height: 100vh;
  }
}
.menu-list ul {
  float: left;
  margin: 2rem 5.75rem;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .menu-list ul {
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 435px) {
  .menu-list ul {
    margin: 4rem 5.75rem;
  }
}
.menu-list li {
  list-style: none;
  font-size: .75rem;
  color: white;
  text-transform: uppercase;
  display: inline;
  padding: 1.2rem;
  z-index: 3;
}
@media only screen and (max-width: 435px) {
  .menu-list li {
    display: block;
    padding: .5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .menu-list li {
    display: block;
  }
}
.menu-list a {
  text-decoration: none;
  padding: 0;
  color: white;
  border-bottom: none;
}
.menu-list a:hover {
  background-color: magenta;
}

.white-bar {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 14%;
  width: 100%;
  pointer-events: none;
  background: white;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .white-bar {
    height: 0%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .white-bar {
    height: 8%;
  }
}
@media only screen and (max-width: 435px) {
  .white-bar {
    height: 12%;
    z-index: 12;
  }
}

.menu-list.open {
  /* visible */
  -webkit-transform: translate(0, 0%);
  -moz-transform: translate(0, 0%);
  -ms-transform: translate(0, 0%);
  transform: translate(0, 0%);
}

.closed {
  /* completely offscreen */
  transform: translateY(-100%);
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

#nav-trigger {
  top: 0;
  z-index: 35;
  position: fixed;
}
#nav-trigger:hover .menu-text {
  opacity: 1;
}
#nav-trigger:hover .blue {
  -webkit-transform: rotate(-180deg) translateX(0%);
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  #nav-trigger:hover .blue {
    -webkit-transform: rotate(-180deg) translateX(-100%);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #nav-trigger:hover .blue {
    -webkit-transform: rotate(-180deg) translateX(-100%);
  }
}
@media only screen and (max-width: 435px) {
  #nav-trigger:hover .blue {
    -webkit-transform: rotate(-180deg) translateX(-100%);
  }
}

.triangle-up-left {
  width: 100%;
  height: 0;
  padding-left: 100%;
}

.triangle-up-left:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left: -100vw;
  border-bottom: 100vh solid transparent;
  border-left: 100vw solid blue;
}
@media only screen and (max-width: 435px) {
  .triangle-up-left:after {
    width: 100vw;
    height: 100vh;
    background-color: blue;
  }
}

.triangle-bg {
  width: 30%;
  height: 504px;
  padding-left: 504px;
  padding-right: inherit;
  padding-top: 0;
}

.triangle-bg:after {
  content: "";
  display: block;
  width: 0;
  margin-left: -504px;
  border-bottom: 504px solid transparent;
  border-left: 504px solid blue;
}

/******************************************
/* HOMEPAGE                 
/*******************************************/
/**/
.highlight {
  display: inline;
  white-space: pre-wrap;
  padding: 0 .25rem;
  transition: .35s all ease-in-out;
}

.issue-index {
  opacity: 0;
  position: absolute;
  margin: 15% 39%;
  transition: .35s all ease-in-out;
  text-align: center;
}
.issue-index .issue-title {
  font-size: 2rem;
}
@media only screen and (max-width: 435px) {
  .issue-index .issue-title {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 435px) {
  .issue-index {
    margin: 70% 20%;
  }
}
@media only screen and (max-width: 435px) {
  .issue-index .issue-btn {
    margin: .5rem 0;
    text-align: center;
    font-size: .5rem;
  }
}

.paper-machines-btn {
  margin: .6rem 0;
}

#inner {
  font-size: 2.75rem;
  line-height: 3.25rem;
  letter-spacing: 1px;
  font-family: 'helvetica';
  position: fixed;
  text-decoration: none;
  color: black;
  line-height: 3.5rem;
  margin: auto;
  left: 25%;
  right: 20%;
  top: 25%;
  bottom: 30%;
  -webkit-transition: all 500ms ease;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #inner {
    line-height: 2.9rem;
    font-size: 2rem;
    top: 30%;
  }
}
@media only screen and (max-width: 435px) {
  #inner {
    top: 36%;
    right: 12%;
    left: 17%;
    line-height: 1.75rem;
    font-size: 1.2rem;
  }
}

.home-text:hover #inner {
  transform: skew(46deg, 30deg);
  display: inline;
  padding: 1rem;
  left: 21%;
  top: 36%;
}
@media only screen and (max-width: 435px) {
  .home-text:hover #inner {
    transform: skew(35deg, 29deg);
    display: inline;
    padding: 1rem;
    left: 15%;
    top: 38%;
  }
}
.home-text:hover .issue-index {
  opacity: 1;
}

.quick-links a {
  color: blue;
  font-size: 1.25rem;
  list-style: none;
  font-family: "Garamond", serif;
}
@media only screen and (max-width: 435px) {
  .quick-links a {
    font-size: 1rem;
  }
}
.quick-links li {
  list-style: none;
}
.quick-links li:hover .highlight {
  background-color: magenta;
  color: white;
}
.quick-links .buy {
  float: right;
  text-align: right;
  position: fixed;
  top: 1rem;
  right: 1rem;
}
.quick-links .events {
  float: right;
  text-align: right;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.quick-links .submit {
  float: left;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.reveal-modal {
  width: 38rem;
  top: 60px;
  padding: 0;
  border: none;
  border-radius: 0;
  background: blue;
  box-shadow: none;
}
.reveal-modal p {
  font-size: .9rem;
  line-height: 1.2rem;
}
@media only screen and (max-width: 435px) {
  .reveal-modal p {
    font-size: .8rem;
  }
}
@media only screen and (max-width: 435px) {
  .reveal-modal {
    width: 100vw;
    top: -32px;
  }
}
.reveal-modal .close-reveal-modal {
  color: magenta;
  font-size: 1rem;
  font-weight: normal;
}
@media only screen and (max-width: 435px) {
  .reveal-modal .close-reveal-modal {
    font-size: 1.5rem;
  }
}

.modalTitle {
  color: magenta;
  padding: 3rem 0 .25rem;
  font-family: "Garamond", serif;
  margin: 0 2rem 1rem 3rem;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  display: block;
}
@media only screen and (max-width: 435px) {
  .modalTitle {
    font-size: .9rem;
  }
}

#firstModal.reveal-modal p {
  color: white;
  margin: 1rem 3rem 0 1rem;
  float: left;
}
@media only screen and (max-width: 435px) {
  #firstModal.reveal-modal p {
    float: none;
    margin-left: 3rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #firstModal.reveal-modal p {
    margin: 0rem 3rem 0 3rem;
  }
}
#firstModal.reveal-modal .issue-title {
  font-size: 1rem;
  padding: 2rem 0 0 2rem;
}
#firstModal.reveal-modal .modal-img {
  width: 21rem;
  padding: 0 0 3rem 3rem;
  float: left;
}
@media only screen and (max-width: 435px) {
  #firstModal.reveal-modal .modal-img {
    padding-bottom: .5rem;
    width: 83vw;
  }
}
#firstModal.reveal-modal .price {
  padding: 0rem;
  margin: 0rem 0 0 1rem;
  display: inline-block;
  float: left;
}
#firstModal.reveal-modal .past-issues {
  color: magenta;
  float: left;
  margin: 1rem;
  padding: 0;
}
#firstModal.reveal-modal button {
  float: left;
}
@media only screen and (max-width: 435px) {
  #firstModal.reveal-modal button {
    float: none;
    margin-left: 3rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #firstModal.reveal-modal button {
    margin: 2rem 2rem 0 3rem;
  }
}

.modal-event .modalTitle {
  float: none;
}
.modal-event p {
  padding: 0 3rem;
  color: white;
}

#secondModal .event-blurb {
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: magenta;
  padding: 3rem;
  border-bottom: 2px solid magenta;
}
@media only screen and (max-width: 435px) {
  #secondModal .event-blurb {
    font-size: 1.5rem;
    line-height: 1.75rem;
    padding: 1.6rem 3rem 2rem 3rem;
  }
}
#secondModal .modalTitle {
  margin: 0 2rem 1rem 3rem;
  padding-top: 0rem;
}

.reveal-modal > :last-child {
  margin-bottom: 3rem;
}

.cont-modal {
  background: blue;
}
.cont-modal p {
  color: white;
  font-size: .9rem;
  line-height: 1.3rem;
  text-align: justify;
}
.cont-modal ul {
  margin-left: 3rem;
}
.cont-modal li {
  padding: 0 0rem .5rem 0rem;
}
.cont-modal a {
  font-size: .8rem;
  color: white;
  text-decoration: underline;
}
.cont-modal a:hover {
  color: magenta;
}
.cont-modal .close-reveal-modal {
  text-decoration: none;
}

header:hover {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#alt_logo {
  display: none;
  position: relative;
  width: 50%;
  margin: 0 auto;
  top: 42vh;
}

/******************************************
/* CONTACT                
/*******************************************/
/**/
.contact-page {
  margin: 10rem 0;
  max-width: 100%;
}
@media only screen and (max-width: 435px) {
  .contact-page {
    margin: 7rem 1rem 3rem 1rem;
  }
}

.contact {
  position: absolute;
}
.contact h2 {
  font-size: 1.5rem;
}
.contact p {
  font-size: .9rem;
  line-height: 1.35rem;
}
.contact .post {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.contact-heading {
  margin: 2rem 0 2rem 0;
}

.form {
  float: none;
}
.form .btn {
  font-size: .7rem;
  padding: .4rem;
  height: 1.75rem;
}

input[type="text"] {
  border: 1px solid blue;
  box-shadow: none;
  color: black;
  font-size: .8rem;
}
input[type="text"] input[type="placeholder"] {
  color: rgba(0, 0, 0, 0.3);
}
input[type="text"]:focus {
  color: black;
  border: 1px solid magenta;
}
input[type="text"]:active {
  color: black;
  border: 1px solid magenta;
}
input[type="text"]:visited {
  color: black;
}
@media only screen and (max-width: 435px) {
  input[type="text"] {
    font-size: .7rem;
    height: 1.5rem;
    margin-bottom: .75rem;
  }
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background: white;
  color: blue;
}

.btn {
  background: blue;
  color: magenta;
  border: none;
  padding: .5rem;
  font-size: .8rem;
  transition: .5s ease-in-out;
}
.btn:hover {
  background: white;
  color: blue;
  border: 1px solid blue;
}

.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.socials-icon {
  display: block;
  width: 52px;
  height: 52px;
  float: left;
}

/******************************************
/* ABOUT                
/*******************************************/
/**/
.row-about {
  max-width: 78.5em;
}

.padding-left {
  padding-left: 0;
}

.about-page {
  margin: 9rem 7rem 3rem 7rem;
  position: absolute;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .about-page {
    margin-top: 7rem;
  }
}
@media only screen and (max-width: 435px) {
  .about-page {
    margin: 7rem 2rem 3rem 2rem;
  }
}

.about-post {
  -webkit-columns: 500px;
  -webkit-column-gap: 145px;
  orphans: 2;
  max-height: 33rem;
}
@media only screen and (max-width: 435px) {
  .about-post {
    max-height: none;
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .about-post {
    -webkit-columns: 320px;
    -webkit-column-gap: 83px;
    max-height: 40rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .about-post {
    -webkit-columns: 260px;
    max-height: 60rem;
  }
}
.about-post .margin-bottom {
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .about-post .margin-bottom {
    margin-bottom: 1.25rem;
  }
}
@media only screen and (max-width: 435px) {
  .about-post .margin-bottom {
    margin-bottom: 1.25rem;
  }
}
.about-post p {
  line-height: 1.3rem;
  text-align: justify;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .about-post p {
    margin-bottom: 1.1rem;
    line-height: 1.2rem;
  }
}
@media only screen and (max-width: 435px) {
  .about-post p {
    font-size: .9rem;
  }
}

.slant:after {
  border-left: 2px solid blue;
  content: '';
  display: inline-block;
  height: 25.5rem;
  position: absolute;
  top: 48%;
  -webkit-transform: translateY(-50%) rotate(11deg);
  -ms-transform: translateY(-50%) rotate(11deg);
  transform: translateY(-50%) rotate(11deg);
  width: 0;
  right: -70px;
}

.slant-paper:after {
  top: 52%;
  height: 28rem;
  right: -83px;
}

.slant-events:after {
  top: 52%;
  height: 29.5rem;
  right: -83px;
}

.pull-quote {
  font-size: 1.25rem;
  color: blue;
  width: 300px;
}

.dot {
  border-radius: 50%;
  background: blue;
  width: 10px;
  height: 10px;
}

/******************************************
/* PAPER MACHINES                
/*******************************************/
/**/
.margin-paper {
  margin: 8rem 7rem;
  position: absolute;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .margin-paper {
    margin-top: 9rem;
  }
}
@media only screen and (max-width: 435px) {
  .margin-paper {
    margin: 6rem 0 0 2rem;
  }
  .margin-paper:last-child {
    float: none;
  }
}

.paper-row {
  margin-left: 2rem;
}

.post-paper {
  padding: 0;
  width: 310px;
  margin: 3rem 7rem 0 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .post-paper {
    margin-top: 0rem;
    width: 263px;
  }
}
@media only screen and (max-width: 435px) {
  .post-paper {
    width: 215px;
    margin: 0 5rem 2.5rem 2rem;
  }
}

.post-machine {
  margin-right: 6rem;
}
@media only screen and (max-width: 435px) {
  .post-machine {
    width: 220px;
  }
}

.paper-info {
  padding: .5rem 0;
  margin-top: 1.5rem;
}
@media only screen and (max-width: 435px) {
  .paper-info {
    margin: 2.5rem 0;
  }
}
.paper-info p {
  font-size: .75rem;
  margin-bottom: 0;
}
.paper-info .btn {
  padding: .75rem;
  font-size: .85rem;
}
.paper-info .btn:hover {
  background-color: magenta;
  color: blue;
}
.paper-info .price {
  color: blue;
  display: inline-block;
  font-size: .9rem;
}

#machine1, #machine2, #machine3 {
  position: relative;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  cursor: pointer;
}
@media only screen and (max-width: 435px) {
  #machine1, #machine2, #machine3 {
    width: 220px;
    height: 185px;
  }
}

article {
  position: absolute;
  width: 480px;
  height: 400px;
  overflow: hidden;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
}
article img {
  cursor: pointer;
}
@media only screen and (max-width: 435px) {
  article {
    width: 241px;
    height: 201px;
  }
}

.machine-details {
  background-color: white;
  color: blue;
  font-size: 1.25rem;
  text-align: left;
  padding: 28%;
  font-family: "Garamond", serif;
  border: 2px solid blue;
}
@media only screen and (max-width: 435px) {
  .machine-details {
    font-size: .9rem;
    padding: 11%;
  }
}

.event-details {
  padding: 19%;
}
@media only screen and (max-width: 435px) {
  .event-details {
    padding: 7%;
  }
}

.grid-overlay {
  position: absolute;
  top: 0px;
  bottom: -20px;
  right: 10px;
  left: 0px;
  opacity: 0;
  background: blue;
  transition: 0.6s ease-in-out;
  padding: 28% 22%;
}
.grid-overlay p {
  color: white;
  font-size: 1rem;
  text-align: left;
  font-family: "Garamond", serif;
}

/******************************************
/* EVENTS              
/*******************************************/
/**/
.margin-events {
  margin: 1rem 5rem 0 0;
}

.margin-first-event {
  margin-right: 0;
}

p.event-title {
  font-family: "Garamond", serif;
  color: blue;
  font-size: 1.5rem;
  margin-bottom: 0;
}

p.event-date {
  font-family: "Garamond", serif;
  color: blue;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.event-blurb {
  font-family: "Garamond", serif;
  font-size: 2.75rem;
  text-align: left;
  line-height: 2.75rem;
  padding: 22%;
}
@media only screen and (max-width: 435px) {
  .event-blurb {
    font-size: 1.5rem;
    line-height: 1.75rem;
    padding: 2rem 3rem 2rem 3rem;
  }
}

.event-info {
  margin-top: 2rem;
}
.event-info p {
  font-size: .9rem;
  text-align: left;
}
.event-info .title {
  font-size: 1rem;
  color: blue;
}

.past-events {
  margin-left: -10rem;
}

.ticket-tooltip {
  background: blue;
  color: white;
  font-family: "Helvetica", sans-serif;
}

#event1, #event2, #event3 {
  position: relative;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  cursor: pointer;
}
@media only screen and (max-width: 435px) {
  #event1, #event2, #event3 {
    height: 250px;
  }
}

.stack-top {
  border: 4px solid blue;
}

/******************************************
/* CONTRIBUTORS                 
/*******************************************/
/**/
.editors {
  font-size: 2rem;
  font-family: "Garamond", serif;
  text-align: left;
  margin: -2rem 0;
}

.contributors {
  margin: 10rem;
  position: fixed;
}
@media only screen and (max-width: 435px) {
  .contributors {
    margin: 6rem 5rem;
  }
}

.cont-list {
  font-size: 1.2rem;
  text-align: left;
  margin: 0rem 4rem 0 0px;
  line-height: 2.25rem;
  width: 19rem;
}
.cont-list li {
  float: none;
}
@media only screen and (max-width: 435px) {
  .cont-list {
    font-size: 1rem;
    line-height: 1.65rem;
  }
}

/******************************************
/* ISSUES                 
/*******************************************/
/**/
.current-issue {
  margin-right: 0rem;
}

.past-issue {
  color: blue;
  font-size: .8rem;
  width: 80px;
  margin: 3rem;
}

.archive {
  margin-left: -22.5rem;
}

p.issue-info {
  color: blue;
  font-size: .8rem;
  text-align: left;
}
@media only screen and (max-width: 435px) {
  p.issue-info {
    font-size: .79rem;
  }
}
p.issue-info a {
  color: blue;
  border-bottom: 1px solid blue;
}

.issue-title {
  font-size: 1.2rem;
  color: magenta;
  margin: 3rem 0 0 0;
}
@media only screen and (max-width: 435px) {
  .issue-title {
    margin: 0;
    font-size: .95rem;
  }
}

.issue-btn {
  font-size: .75rem;
  font-weight: normal;
  padding: .25rem .75rem;
  border: 1px solid blue;
  background: white;
  color: blue;
  cursor: pointer;
  transition: .6s ease-in-out;
  text-align: left;
}
.issue-btn:hover {
  color: magenta;
  border: 1px solid magenta;
}
.issue-btn:hover .read-online {
  color: blue;
  border: 1px solid blue;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .issue-btn {
    font-size: .5rem;
    padding: .25rem .5rem;
  }
}
@media only screen and (max-width: 435px) {
  .issue-btn {
    display: inline-flex;
    margin-bottom: .4rem;
    padding: .25rem .65rem;
    font-size: .7rem;
  }
}

.read-online {
  font-size: .75rem;
  font-weight: normal;
  padding: .25rem .75rem;
  border: 1px solid blue;
  background: white;
  color: blue;
  cursor: pointer;
  transition: .6s ease-in-out;
  text-align: left;
  margin-right: .5rem;
}
.read-online:hover {
  color: magenta;
  border: 1px solid magenta;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .read-online {
    font-size: .5rem;
    padding: .25rem .5rem;
  }
}
@media only screen and (max-width: 435px) {
  .read-online {
    display: inline-flex;
    margin-bottom: .4rem;
    padding: .25rem .65rem;
    font-size: .7rem;
  }
}

@media only screen and (max-width: 435px) {
  .issue-deets {
    margin-bottom: 3rem;
  }
}

.read-hover:hover .read-online {
  color: magenta;
  border: 1px solid magenta;
}
.read-hover:hover h5 {
  color: blue;
}

.float-left {
  float: left;
}

@media only screen and (max-width: 435px) {
  .add-margin {
    margin-top: 4rem;
  }
}

.slash {
  float: left;
  font-size: 2.5rem;
  color: blue;
  font-family: -webkit-pictograph;
  margin: 2.5rem 5rem;
  letter-spacing: -4px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .slash {
    margin: -0.5rem 5rem;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 435px) {
  .slash {
    display: none;
  }
}

.slash-events {
  margin-top: -.05rem;
}

.slash-about {
  color: blue;
  font-size: 1.75rem;
  font-weight: bold;
  position: absolute;
  margin: 0 50%;
}
@media only screen and (max-width: 435px) {
  .slash-about {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .slash-about {
    display: none;
  }
}

.slash-about2 {
  margin: 0% 67%;
  position: absolute;
  line-height: 1.6rem;
}

.slash-cont {
  position: absolute;
  margin: 0 75%;
}

/******************************************
/* AUDIO                
/*******************************************/
/**/
.audio {
  padding: 0;
}

.audio-frame {
  position: relative;
  top: 0;
  left: 0;
  width: 480px;
  height: 400px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .audio-frame {
    height: 396px;
    width: 375px;
  }
}
@media only screen and (max-width: 435px) {
  .audio-frame {
    height: 250px;
    width: 201px;
  }
}
@media only screen and (max-width: 435px) {
  .audio-frame article {
    height: 201px;
    width: 250px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  iframe {
    max-height: 395px;
  }
}
@media only screen and (max-width: 435px) {
  iframe {
    max-height: 201px;
  }
}
