.linkedin-white, .linkedin-yellow{
	background: url(sprites.png) no-repeat;
}

.linkedin-white{
	background-position: 0 0;
	width: 40px;
	height: 40px;
}

.linkedin-yellow{
	background-position: -57px 0;
	width: 40px;
	height: 40px;
}

