/* 
Project Name: Rose's Portfolio
Client: Rose Nordin
Author: A Kamran
*/
@font-face {
  font-family: 'Jungka';
  src: url("fonts/jungka-regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jungka';
  src: url("fonts/jungka-medium.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Jungka';
  src: url("../fonts/jungka-regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jungka';
  src: url("../fonts/jungka-medium.woff");
  font-weight: bold;
  font-style: normal;
}

/******************************************
/* SETUP                   
/*******************************************/
/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES                   
/*******************************************/
/**/
audio,
canvas,
img,
video {
  vertical-align: middle;
}

:focus, :active, :hover {
  outline: none;
}

html {
  height: 100%;
}

body {
  font-family: 'Jungka';
  background-color: #f2f1ec;
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
}

#header {
  display: block;
  width: 100%;
}

h1 {
  font-family: 'Jungka';
  font-size: 1.5rem;
  text-align: center;
  margin: .5rem 0 0 0;
  background: #f2f1ec;
  z-index: 10;
}
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 1em;
  padding-left: 3rem;
  margin-bottom: 0;
}
@media only screen and (max-width: 500px) {
  h3 {
    font-size: .8rem;
    padding-left: 2rem;
  }
}

p {
  font-size: .8rem;
}

a {
  color: black;
  text-decoration: none;
}
a:focus {
  outline: none;
}

ul {
  padding: 0;
  margin-top: 0;
}

li {
  list-style: none;
}

@media only screen and (max-width: 500px) {
  .intro {
    margin-top: 5%;
  }
}

.info {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 40%;
  font-size: .8rem;
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) and (orientation: landscape) {
  .info {
    font-size: .9rem;
    width: 65%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .info {
    font-size: .9rem;
    width: 75%;
  }
}
@media only screen and (max-width: 500px) {
  .info {
    font-size: .8rem;
    width: 80%;
  }
}
.info p {
  width: 40%;
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) and (orientation: landscape) {
  .info p {
    width: 65%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .info p {
    width: 75%;
  }
}
@media only screen and (max-width: 500px) {
  .info p {
    width: 75%;
  }
}
@media only screen and (max-width: 500px) {
  .info li {
    padding-bottom: .5rem;
    line-height: 1.1rem;
  }
}

.contact a {
  border-bottom: 1px solid black;
  transition: .75s ease-in;
  display: inline;
}
.contact a:hover {
  text-decoration: line-through;
  border-bottom: none;
}
.contact h3 {
  display: inline;
  padding-left: 0;
}

.slide {
  max-width: 40%;
  text-align: center;
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) and (orientation: landscape) {
  .slide {
    max-width: 70%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .slide {
    max-width: 70%;
  }
}
@media only screen and (max-width: 500px) {
  .slide {
    max-width: 80%;
  }
}

img {
  max-width: 45%;
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) and (orientation: landscape) {
  img {
    max-width: 60%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  img {
    max-width: 70%;
  }
}
@media only screen and (max-width: 500px) {
  img {
    max-width: 80%;
  }
}

.project-info p {
  font-size: .9rem;
}

.fp-controlArrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  border-style: none;
}

.fp-next {
  left: 55%;
  width: 40%;
  border-width: 0;
  cursor: e-resize;
  border-color: transparent transparent transparent #000;
}

.fp-controlArrow.fp-prev {
  right: 45%;
  left: 5%;
  width: 40%;
  border-width: 0;
  cursor: w-resize;
  border-color: transparent transparent transparent #000;
}

@media only screen and (max-width: 500px) {
  #fp-nav.right {
    right: 2px;
  }
}

@media only screen and (max-width: 500px) {
  #fp-nav ul {
    margin-top: 35px;
  }
}
#fp-nav ul li {
  width: 9px;
  height: 9px;
}
#fp-nav ul li a span {
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
  border: 1px solid black;
  background: none;
  border-radius: 100%;
  position: absolute;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
}
#fp-nav ul li a span:hover {
  width: 9px;
  height: 9px;
  width: 9px;
  height: 9px;
  border-radius: 100%;
}
#fp-nav ul li a.active span {
  background: black;
  border-radius: 100%;
  margin: -2px;
  border: none;
  width: 9px;
  height: 9px;
}
#fp-nav ul li .fp-tooltip {
  color: black;
  font-size: .75rem;
  right: 20px;
  background: #f2f1ec;
  padding: .25rem;
}

/* Fixed header and footer.
  * --------------------------------------- */
#footer {
  position: fixed;
  height: 7rem;
  display: block;
  width: 100%;
  z-index: 9;
  text-align: center;
  color: black;
  padding: 3rem 0 0 0;
}

#header {
  top: 0px;
}

#footer {
  bottom: 0px;
}
#footer a {
  transition: .5s ease-in;
}
#footer a:hover {
  text-decoration: line-through;
}
#footer li {
  display: inline;
  font-size: .8rem;
  padding-right: 1rem;
}
