/*************
 * VARIABLES *
 *************/

// @import "foundation/components/global";
// @import "foundation/components/grid";
// @import "foundation/components/buttons";
// @import "foundation/components/forms";
// @import "foundation/components/dropdown-buttons";
// @import "foundation/components/flex-video";
// @import "foundation/components/top-bar";
// @import "foundation-";

$font-stack: 'Droid Sans', sans-serif;
$font-serif: 'Playfair Display', serif;
$color: #fcfcfc;
$text-color: #1a1a1a;
$heading-color: #f2f2f2;
$box1-color: #feb100;
$box2-color: #fec700;
$footer-color: #e1632d;

$h1-size: 2rem;
$h2-size: 2.5rem;
$h3-size: 1rem;
$p-size: .5rem;



/*************
 * MIXINS    *
 *************/

@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (max-width: 1048px) { @content; }
  }
  @else if $point == mama-bear {
    @media (max-width: 750px) { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 400px)  { @content; }
  }
}

@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin button($color) {
  border-radius: 4px;
  padding: 10px 15px;
  background: $color;
  color: white;
  display: inline-block;
}

 /*************
  * BODY      *
  *************/

.row {
	max-width: 100%;
	padding: 0;
	margin: 0 auto;
}

.columns {
	padding: 0;
}

#container {
	max-width: 100%;
}

.hidden {
	visibility: hidden;
}

.ir {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}


body {
	background-color: #fcfcfc;
	font-family: $font-stack;
	// background: url(img/conference_room.jpg) no-repeat center center ;
	// background-size: cover;
	// -webkit-background-size: cover;
	// -moz-background-size: cover;
	// -o-background-size: cover;

}

.header {
	position: relative;
}

.crop-height {
	max-height: 500px;
	overflow: hidden;
	position: relative;

	// display: block;
}

li {
	list-style: none;
}

img.scale {
	max-width: 100%;
	display: block; 
	width: 100%; /* corrects obscure Firefox bug */
	
	/* just in case, to force correct aspect ratio */
	height: auto !important;
	/*width: auto\9; 
	/* ie8+9 - use modernizr instead of this \9 hack */
	/* lt ie8 */
	-ms-interpolation-mode: bicubic;
}

.flip {
	-webkit-transform: rotate(180deg);
	-moz-transform:    rotate(180deg);
	-ms-transform:     rotate(180deg);
	-o-transform:      rotate(180deg);
	transform:         rotate(180deg);
	/* needed? not sure */
	zoom: 1; 
}

img.flip {
	float: right;
}
 
.block:before {
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
 
 }

.blurb {
	// position: absolute;
	display: inline-block;
	vertical-align: middle;
	font-family: 'Playfair Display', Georgia;
	font-size: 2rem;
	background-color: rgba(255, 255, 255, 0.6);
	// margin: -57% 0 0 10%;
	width: 100%;
	padding: 4% 13% 17% 4%;
	float: left;
	transition: width 500ms;
	z-index: 1;

	// @include breakpoint(mama-bear) {
	// 	margin-top: -60%;
	// 	width: 90%;
	// }

	// @include breakpoint(baby-bear) {
	// 	margin-top: -57%;
	// 	width:80%;
	// }
	

	.quote {
		padding: 7%;
		margin: 0 auto;
		// padding: 5rem 7rem 9rem 6rem;
		// float: left;
		// line-height: 2.5rem;
		// position: absolute;
		// margin-left: 3rem;
		// position: absolute;
		// top: 50%;
		// transform: 			translateY(-50%);


		@include breakpoint(mama-bear) { 
			font-size: 1.75rem;
			// line-height: 2.5rem;
			// padding:  4rem 5rem 10rem 6rem;
		}
		@include breakpoint(baby-bear) { 
			font-size: 1.25rem;
			// line-height: 1.5rem;
			// padding:  2rem 4rem 4rem 4rem;
		}
	  
	}

	h3.author {
		font-size: 1rem;
		width: 24rem;
		clear: both;
		border-top: 1px solid #003baf;
		margin-left: 7%;
		padding-top: 6%;
		position: absolute;

		@include breakpoint(mama-bear) { 

		}
		@include breakpoint(baby-bear) { 
			margin-top: 1%;
			font-size: .75rem;
			width: 12rem;
			padding-top: 7%;
		}
	}
}

.bqstart {
 float: left;
 font-size: 200%;
 // margin: 1.5em 0 0 4rem;
 position: absolute;
 top: 5rem;
 left: 6rem;
 z-index: 1;

}

 .bqend {
 float: right;
 font-size: 200%;
 position: absolute;
 top: 12rem;
 left: 34rem;
}


.top-bar {
	// margin-top: 33.5%;
	transition: all 0.5s ease 0.1s;
	max-width: 100%;
	clear: both;
	list-style: none;

	ul.title-area {

		padding: 0 0 0 40px;

		@include breakpoint(papa-bear) { 
		padding:0 0 0 10px;
		}

		@include breakpoint(mama-bear) { 
		padding:0 0 0 10px;
		}

		@include breakpoint(baby-bear) { 
		padding:0 0 0 20px;
		}

	}

	.name h1 {
		font-family: $font-serif, serif;
		font-weight: 400;
		font-size: 1.75rem;
		color: $heading-color;
		width: 100%;

		@include breakpoint(papa-bear) { 
		font-size: 1.25rem;
		}

		@include breakpoint(mama-bear) { 
		font-size: 1rem;
		// line-height: 2.5rem;
		// padding:  4rem 5rem 10rem 6rem;
		}
		@include breakpoint(baby-bear) { 
			font-size: 1rem;
			margin-left: -0.5rem;
		}
	}

	.toggle-topbar {
		span {
			font-family: $font-serif;
			font-size: .75rem;
			list-style: none;
			font-weight: normal;
		}
	}

   .top-bar-section {

   		ul.right {
   			padding: 0;
   		}

   		li {
			margin-left: 0;
		}
		

		li > a {
			color: $color;
			text-decoration: none;
			font-size: 0.9rem;
			font-family: $font-serif;
			// position: absolute;
		}

		li:not(.has-form) a:not(.button) {
			background-color: none;
			color: $heading-color;
			margin-top: 0;
		
		@include breakpoint(papa-bear) { 
			font-size: .8rem;
			padding: 0 11px;
			}

			@include breakpoint(mama-bear) { 
			font-size: .8rem;
			padding: 0 6px;
			}
		

			@include breakpoint(baby-bear) { 
				font-size: .8rem;
				padding: 0 6px;
			}

		}

		li a:hover {
			color: $box2-color;
		}

		li.active:not(.has-form) a:not(.button) {
			background-color: transparent;
			color: $box1-color;	
		}
	}
}

.top-bar.expanded {
	margin-top: 0;
	padding: 0;
	float: none;
	.toggle-topbar.menu-icon a {
		color: #fff;
	}
}

.quick-nav {

	color: $heading-color;
	@include clearfix;
	max-height: 25rem;

	h3 {
	font-size: 1.5rem;
	padding-left: 2rem;
	font-weight: 700; 
	font-family: 'Roboto Condensed', Helvetica, sans-serif;
	text-transform: uppercase;;

		@include breakpoint(baby-bear) {
		font-size: 1rem;

		}

		@include breakpoint(baby-bear) {
			font-size: 1.25rem;
			padding: 1.5rem;
			margin: 0 auto;
		}
	}

	p {
		margin: 2rem;
	}

	.read-more a{
		font-family: $font-serif;
		font-style: italic;
		// text-decoration: none;
		color: $heading-color;
	}

	.box-1 {
		background-color: $box1-color;
		width: 25%;
		float: left;
		overflow: hidden;
		max-height: 15rem;

		@include breakpoint(mama-bear) { 
		width: 50%;
		max-height: 15rem;
		float:right;
		}
		@include breakpoint(baby-bear) {
		width: 50%;
		max-height: 7rem;
		}
	}
	.box-2 {
		background-color: $box2-color;
		width: 25%;
		float: left;
		overflow: hidden;
		max-height: 15rem;

		@include breakpoint(mama-bear) { 
		width: 50%;
		max-height: 15rem;
		}

		@include breakpoint(baby-bear) { 
		width: 50%;
		max-height: 7rem;
		}
	}
	.box-3 {
		background-color: $box1-color;
		width: 25%;
		float: left;
		overflow: hidden;
		max-height: 15rem;

		@include breakpoint(mama-bear) { 
		width: 50%;
		max-height: 15rem;
		}

		@include breakpoint(baby-bear) { 
		font-size: 1rem;
		width: 50%;
		max-height: 7rem;
		}
	}
	.box-4 {
		background-color: $box2-color;
		width: 25%;
		float: left;
		overflow: hidden;
		max-height: 15rem;

		@include breakpoint(mama-bear) {
		width: 50%;
		max-height: 15rem;
		}

		@include breakpoint(baby-bear) { 
		width: 50%;
		max-height: 7rem;
		}
	}

}

footer {
	height: 15rem;
	background-color: $footer-color;
	color: $heading-color;
	text-align: center;

	.sprite {
    	background: url('../img/sprites.png') no-repeat;
	}

	.socials-icon a {
	    display: block;
	    width: 40px;
	    height: 40px;
	    margin: 0 auto;
	}

	.contact {
		padding: 1rem;
		font-size: $h3-size;
	}

	.twitter {
		background-position: 0 0px;
		// &:hover {
		// 	background-position: 0 -45.01250457763672px;
		// }

	}

	button {
		background-color: $heading-color;
		color: $text-color;
		margin: 0 auto;
		padding: 1rem;
		-moz-box-shadow:    5px 5px 0px 0px #0C0C0C;
	  	-webkit-box-shadow: 5px 5px 0px 0px #0C0C0C;
	  	box-shadow:         5px 5px 0px 0px #0C0C0C;
	  	display: block;

	}

	button:hover {
  		background-color: $heading-color;
  		color: $footer-color
  	}
}



