/* 
Project Name: Tentative Collective Website
Client: Yaminay Chaudhri, Mehreen Murtaza
Author: A Kamran
*/
/******************************************
/* SETUP                   
/*******************************************/
/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES                   
/*******************************************/
/**/
audio,
canvas,
img,
video {
  vertical-align: middle;
}

#container {
  margin: 0 auto;
  width: 100%;
}

#gradient {
  background: linear-gradient(251deg, #e4007e, #a2ff26, #008f45);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 45%;
  }

  50% {
    background-position: 100% 56%;
  }

  100% {
    background-position: 0% 45%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 45%;
  }

  50% {
    background-position: 100% 56%;
  }

  100% {
    background-position: 0% 45%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 45%;
  }

  50% {
    background-position: 100% 56%;
  }

  100% {
    background-position: 0% 45%;
  }
}

#main {
  margin: 4rem;
}

.liar {
  font-style: italic;
}

.logo {
  position: absolute;
  margin: 1.5rem 0 0 1.5rem;
  float: left;
  z-index: 999;
}
.logo img {
  width: 70px;
}
.logo .index {
  font-size: .75rem;
  font-family: courier;
  color: #f78f00;
  margin: 0 0.5rem;
}

.archive {
  float: right;
  position: fixed;
  margin: 2% 93%;
}
.archive img {
  width: 3.5rem;
}

/******************************************
/* TYPING                   
/*******************************************/
/**/
.console-wrapper {
  position: relative;
  width: 100%;
}

.console {
  position: absolute;
  bottom: 115px;
  left: 85px;
  padding-right: 85px;
  max-width: 40rem;
  line-height: 1.7rem;
  font-size: .8rem;
  font-family: serif;
}

.console span {
  position: relative;
  display: none;
}

.console span.placeholder {
  color: black;
  display: block;
  -webkit-animation: placeholder-intro .5s;
  animation: placeholder-intro .5s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-delay: .4s;
  animation-delay: 0.4s;
}

.console span.show {
  display: inline;
  -webkit-animation: word-animate-in .7s;
  animation: word-animate-in 0.7s;
}

.console span::-moz-selection {
  background: black;
  color: snow;
}

.console span::selection {
  background: black;
  color: snow;
}

.console .console--cursor {
  position: relative;
  width: 1px;
  height: 1rem;
  display: inline-block;
  margin-bottom: -3px;
  z-index: 2;
}

.console .console--cursor.intro {
  position: absolute;
  left: 0px;
  top: 0px;
  -webkit-animation: cursor-intro 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  animation: cursor-intro 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.console .console--cursor .inner {
  -webkit-animation: cursor-animation .5s infinite;
  animation: cursor-animation .5s infinite;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: -3px;
  top: 0;
  background: #ff5852;
}

.console .console--cursor.ease-in {
  -webkit-animation: cursor-ease-in .2s;
  animation: cursor-ease-in 0.2s;
}

a {
  color: black;
  text-decoration: underline;
  text-decoration: none;
  -webkit-transition: height;
  transition: height;
  -webkit-transition-duration: .3s;
  transition-duration: 0.3s;
}

a:after {
  position: absolute;
  left: 0;
  right: 13px;
  bottom: 0;
  background: #00279d;
  height: 0;
  z-index: -1;
  -webkit-transition: height,opacity;
  transition: height,opacity;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  opacity: 0;
}

a:active, a:hover, a:visited {
  color: red;
}

a:active:after, a:hover:after {
  opacity: 1;
  height: 2px;
}

.hide {
  display: none;
}

@-webkit-keyframes word-animate-in {
  0%,20% {
    background: black;
    color: #fdbcb8;
  }

  100% {
    background: black;
    color: white;
  }
}

@-webkit-keyframes cursor-animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes cursor-animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes cursor-ease-in {
  0% {
    margin-left: -10px;
    width: 8px;
  }

  100% {
    margin-left: 0;
    width: 4px;
  }
}

@keyframes cursor-ease-in {
  0% {
    margin-left: -10px;
    width: 8px;
  }

  100% {
    margin-left: 0;
    width: 4px;
  }
}

@-webkit-keyframes cursor-intro {
  0% {
    margin-right: 0;
    width: 300px;
    opacity: 0;
  }

  100% {
    margin-right: 0;
    width: 4px;
    opacity: 1;
  }
}

@keyframes cursor-intro {
  0% {
    margin-right: 0;
    width: 300px;
    opacity: 0;
  }

  100% {
    margin-right: 0;
    width: 4px;
    opacity: 1;
  }
}

@-webkit-keyframes placeholder-intro {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes placeholder-intro {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 30px;
  }

  .console {
    left: 20px;
    bottom: 20px;
    padding-right: 20px;
    line-height: 30px;
  }

  .console .console--cursor {
    height: 39px;
    margin-bottom: -7px;
  }
}
.red {
  color: red;
}

/******************************************
/* CLICK AND REVEAL                  
/*******************************************/
/**/
#outer {
  width: 100%;
  position: relative;
}

#content {
  width: 840px;
  position: absolute;
  margin: 0 12px 200px 24px;
}
#content a, #content a:visited {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  background-image: -moz-linear-gradient(top, white 50%, #999999 50%);
  background-image: -webkit-linear-gradient(top, white 50%, #999999 50%);
  background-image: linear-gradient(to bottom, white 50%, #999999 50%);
  background-repeat: repeat-x;
  background-size: 100% 2px;
  background-position: 0 19px;
}
#content a.clicked {
  background-image: linear-gradient(to bottom, white 50%, white 50%);
  cursor: default;
}
#content a.outer, #content a.outer:visited {
  color: #333;
  background-image: -moz-linear-gradient(top, white 50%, #00ddff 50%);
  background-image: -webkit-linear-gradient(top, white 50%, #00ddff 50%);
  background-image: linear-gradient(to bottom, white 50%, #00ddff 50%);
}

.off {
  display: none;
}

.on {
  display: inline;
}

p.on {
  display: block;
}

/******************************************
/* TOOLTIPS                  
/*******************************************/
/**/
.pt-page-2 {
  background-color: none;
}

.tooltip-numbers {
  font-size: 3rem;
}
.tooltip-numbers .has-tip {
  font-size: 6rem;
  border-bottom: none;
  color: red;
  list-style: none;
  z-index: 20;
  position: absolute;
}
.tooltip-numbers .has-tip:hover {
  color: red;
}
.tooltip-numbers .one {
  margin: -12% 22%;
}
.tooltip-numbers .two {
  margin: -6% 65%;
}
.tooltip-numbers .three {
  margin: -2% 32%;
}
.tooltip-numbers .four {
  margin: -12% 22%;
}
.tooltip-numbers .five {
  margin: -6% 65%;
}
.tooltip-numbers .six {
  margin: 1% 5%;
}

.tooltip-text {
  text-align: center;
  font-size: 4rem;
}

/******************************************
/* BROD'S DROPDOWN                   
/*******************************************/
/**/
#brod {
  position: relative;
}

select {
  float: left;
  position: absolute;
}

#body-sadness {
  margin: 8% 5%;
  position: absolute;
}

#covenant {
  margin: 26% 57% 0%;
  position: absolute;
}

#intellect {
  margin: 15%;
  position: absolute;
}

#interpersonal {
  margin: 4% 67%;
  float: left;
  position: absolute;
}

#art-sadness {
  margin: 30% 100% 0%;
  float: left;
  position: absolute;
}

#send-sadness {
  margin: 35% 1% 0%;
  float: left;
}
#send-sadness h4 {
  font-size: 12px;
  font-family: verdana;
  float: left;
}
#send-sadness textarea {
  padding: .25rem;
}
#send-sadness .submit {
  font-size: 16px;
  clear: both;
  margin: 1rem 0 1rem;
}
#send-sadness input {
  float: left;
}
#send-sadness p {
  padding-top: .25rem;
}
#send-sadness .email {
  float: right;
}
#send-sadness .name h4, #send-sadness .email h4 {
  margin: 0;
  padding: .25rem 0.5rem 0rem 0;
}

/******************************************
/* GEORGIA RINSE REPEAT                 
/*******************************************/
/**/
.automatic p {
  position: absolute;
  font-family: courier;
}

.reload {
  margin: 42% 4%  0;
  font-size: .9rem;
  padding: .25rem;
  position: absolute;
  z-index: 101;
}
.reload a:hover {
  color: black;
}

.next {
  margin: 42% 90% 0;
  position: absolute;
  z-index: 100;
}
.next a:active, .next a:hover, .next a:visited {
  color: black;
}

.next-home {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 10rem;
}
.next-home a:active, .next-home a:hover, .next-home a:visited {
  color: black;
}

/******************************************
/* ONDAATJE SO GIF YAAR                
/*******************************************/
/**/
.ondaatje {
  line-height: 11px;
  font-size: 16px;
  position: absolute;
  z-index: 1;
}

.triggers img {
  cursor: pointer;
  position: absolute;
  z-index: 12;
}
.triggers .mango {
  margin: 10%;
  width: 60px;
}
.triggers .floppy {
  margin: 12% 28%;
  width: 60px;
}
.triggers .pia {
  margin: 25% 35%;
  width: 150px;
}
.triggers .peacock {
  margin: 15% 55%;
}
.triggers .scorpion {
  margin: 5% 60%;
}
.triggers .fan {
  margin: 30% 5%;
  width: 120px;
}
.triggers .crow {
  margin: 5% 90%;
}
.triggers .frog {
  margin: 35% 90%;
}
.triggers .butterfly {
  margin: 5% 20%;
}
.triggers .twins {
  margin: 3% 35%;
}
.triggers .matches {
  margin: 40%;
  height: 90px;
}
.triggers .ankles {
  margin: 35% 70%;
}
.triggers .dolphin {
  margin: 25% 80%;
}

.tooltip {
  display: none;
  background-color: #fce37a;
  border: 1px solid #cc9;
  padding: 3px;
  font-size: 13px;
  -moz-box-shadow: 2px 2px 11px #666;
  -webkit-box-shadow: 2px 2px 11px #666;
}

/******************************************
/* AUTHOR              
/*******************************************/
/**/
h3 {
  position: absolute;
  text-align: center;
  width: 100%;
  margin: 5rem 2rem;
}

.transparent-bg {
  background-repeat: repeat;
  height: 100%;
  width: 100%;
}

.author {
  margin: 7rem 2rem;
  position: absolute;
  z-index: 100;
}
.author tr {
  display: table-row;
}
.author td {
  display: table-cell;
  background-color: white;
  padding: .5rem;
  border: 1px solid black;
}
.author td a:hover {
  color: black;
}
.author td a:visited {
  color: black;
}
