/* 
Project Name: Tentative Collective Website
Client: Yaminay Chaudhri, Mehreen Murtaza
Author: A Kamran
*/
/******************************************
/* SETUP                   
/*******************************************/
/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES                   
/*******************************************/
/**/
audio,
canvas,
img,
video {
  vertical-align: middle;
}

body {
  font-family: "Playfair Display", serif;
}

#container {
  margin: 0 auto;
  width: 100%;
}

#gradient {
  background: linear-gradient(251deg, #e4007e, #a2ff26, #008f45);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 45%;
  }

  50% {
    background-position: 100% 56%;
  }

  100% {
    background-position: 0% 45%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 45%;
  }

  50% {
    background-position: 100% 56%;
  }

  100% {
    background-position: 0% 45%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 45%;
  }

  50% {
    background-position: 100% 56%;
  }

  100% {
    background-position: 0% 45%;
  }
}

#main {
  margin: -4rem;
}

.slider {
  overflow-y: hidden;
  max-height: 500px;
  /* approximate max height */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
  max-height: 0;
}

/******************************************
/* NAV                   
/*******************************************/
/**/
ul.snow {
  background-color: black;
  margin: 3rem;
}
ul.snow li {
  font-size: 6rem;
  font-family: "Playfair Display", serif;
  list-style: none;
  text-align: center;
  padding: 3rem 1rem;
  color: snow;
  margin: 0 auto;
  font-style: italic;
}
ul.snow li .italic {
  font-style: italic;
  display: inline;
}

.liar {
  font-style: italic;
}

.console-wrapper {
  position: relative;
  width: 100%;
}

.console {
  position: absolute;
  bottom: 115px;
  left: 85px;
  padding-right: 85px;
  max-width: 40rem;
  line-height: 2rem;
}

.console span {
  position: relative;
  color: black;
  display: none;
}

.console span.placeholder {
  color: #367be3;
  display: block;
  -webkit-animation: placeholder-intro .5s;
  animation: placeholder-intro .5s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-delay: .4s;
  animation-delay: 0.4s;
}

.console span.show {
  display: inline;
  -webkit-animation: word-animate-in .7s;
  animation: word-animate-in 0.7s;
}

.console span::-moz-selection {
  background: black;
  color: snow;
}

.console span::selection {
  background: black;
  color: snow;
}

.console .console--cursor {
  position: relative;
  width: 4px;
  height: 65px;
  display: inline-block;
  margin-bottom: -13px;
  z-index: 2;
}

.console .console--cursor.intro {
  position: absolute;
  left: -7px;
  top: 9px;
  -webkit-animation: cursor-intro 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  animation: cursor-intro 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.console .console--cursor .inner {
  -webkit-animation: cursor-animation .5s infinite;
  animation: cursor-animation .5s infinite;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #ff5852;
}

.console .console--cursor.ease-in {
  -webkit-animation: cursor-ease-in .2s;
  animation: cursor-ease-in 0.2s;
}

a {
  color: black;
  text-decoration: underline;
  text-decoration: none;
  -webkit-transition: height;
  transition: height;
  -webkit-transition-duration: .3s;
  transition-duration: 0.3s;
}

a:after {
  position: absolute;
  left: 0;
  right: 13px;
  bottom: 0;
  background: #00279d;
  height: 0;
  z-index: -1;
  -webkit-transition: height,opacity;
  transition: height,opacity;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  opacity: 0;
}

a:active, a:hover, a:visited {
  color: red;
}

a:active:after, a:hover:after {
  opacity: 1;
  height: 2px;
}

.hide {
  display: none;
}

@-webkit-keyframes word-animate-in {
  0%,20% {
    background: black;
    color: #fdbcb8;
  }

  100% {
    background: black;
    color: white;
  }
}

@-webkit-keyframes cursor-animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes cursor-animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes cursor-ease-in {
  0% {
    margin-left: -10px;
    width: 8px;
  }

  100% {
    margin-left: 0;
    width: 4px;
  }
}

@keyframes cursor-ease-in {
  0% {
    margin-left: -10px;
    width: 8px;
  }

  100% {
    margin-left: 0;
    width: 4px;
  }
}

@-webkit-keyframes cursor-intro {
  0% {
    margin-right: 0;
    width: 300px;
    opacity: 0;
  }

  100% {
    margin-right: 0;
    width: 4px;
    opacity: 1;
  }
}

@keyframes cursor-intro {
  0% {
    margin-right: 0;
    width: 300px;
    opacity: 0;
  }

  100% {
    margin-right: 0;
    width: 4px;
    opacity: 1;
  }
}

@-webkit-keyframes placeholder-intro {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes placeholder-intro {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 30px;
  }

  .console {
    left: 20px;
    bottom: 20px;
    padding-right: 20px;
    line-height: 30px;
  }

  .console .console--cursor {
    height: 39px;
    margin-bottom: -7px;
  }
}
/******************************************
/* PAGE TRANSITIONS                   
/*******************************************/
/**/
