/* 
Project Name: Exhausted Geographies Website
Client: Shahana Rajani, Zahra Malkani
Author: A Kamran
*/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear {
	clear: both;
}


/******************************************
/* BASE STYLES                   
/*******************************************/
/**/

audio,
canvas,
img,
video {
    vertical-align: middle;
}


html {
  height: 100%;
}
body {
  font-family: $font-stack;
  // background-color: $body;
}
#main {
  position: relative;
}

.row {
  max-width: 100%;
}

h1 {
  font-family: $font-stack;
  font-size: 7rem;
  letter-spacing: 20px;
  color: #4f4844;
  // margin:1rem 2rem;
  float: left;
  @include goldilocks(mama) {
    font-size: 6rem;
    line-height: 6rem;
  }
  @include goldilocks(baby) {
    font-size: 2rem;
  }
}
h2 {
  font-family: $font-stack;
  font-size: 1.5rem;
  // margin: 3.5rem 5rem 1rem;
  letter-spacing: 2px;
  padding: 1rem;
  @include goldilocks(baby) {
    font-size: 1rem;
  }

}
h3 {
  font-size: .75rem;
  font-family: $font-stack;
  color: $accent;
  letter-spacing: 5px;
    @include goldilocks (baby) {
    font-size: .55rem;
    letter-spacing: 2px;
  }
}

h4 {
  font-size: .8rem;
  font-family: $font-stack;
  padding: 1rem;
  // background-color: $heading;
  color: $body;
  width: 4.5rem;
  // box-shadow: 4px -4px 17px -7px rgba(0,0,0,0.9);
  border: 2px solid;
  transition: 0.6s ease-out;
  &:hover {
    border: 1px solid;
    color: $accent;
  }
  @include goldilocks(baby) {
    font-size: .6rem;
    padding: .5rem;
    width: 3.25rem;
  }
}

h5 {
  font-family: $font-stack;
  font-size: 1.25rem;
  color: $accent;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  color: $body;
  font-size: .75rem;
  float: none;
}

ul {
  margin: 0;
}

li {
  list-style: none;
  float: none;
}
#index {
  width: 50%;
  float: left;
}
.light-grey {
  background-color: #dfdad9;
  width: 100%;
  float: left;
}

#index-2 {
  background-color: $body;
  width: 50%;
  float: right;
}
.dark-grey {
  background-color: $body;
  height: 100%;
  float: right;
  width: 100%;
}
button {
  // margin-top: 40%;
  color: $accent;
  font-family: $font-stack;
  background-color: none;
  border-bottom: 3px solid $accent;
    @include goldilocks (baby) {
      padding: 0;
    }
}

.inner-page {
  background-color: $body;
}
.excerpt-page {
  background-color: $light;
  margin: 0 auto;
}
.author {
  color: $light;
}

/******************************************
/* typography                  
/*******************************************/
/**/

.logo {
  margin: 1rem;
  position: absolute;
  @include goldilocks(baby) {
    margin: .5rem 0;
    left: 40%;
  }
}
.space {
  padding-top: 1rem;
}

.exhausted {
clear: both;
margin: 1rem;
width: 71%;
  @include goldilocks (mama) {
    width: 57%;
    margin: 3rem 3rem;
  }
  @include goldilocks (baby) {
    margin: 2rem 1rem;
  }
}
.geographies {
  clear: both;
  margin: 0 1rem;
  width: 71%;
  @include goldilocks (mama) {
    width: 55%;
    margin: 0 3rem;
  }
}
.blurb {
  margin: 0 2rem;
  font-style: italic;
  color: $body;
  font-size: 1rem;
  clear: both;
  @include goldilocks(mama) {
    margin: 0 3rem;
  }
    @include goldilocks (baby) {
    margin: 0 1rem;
    padding: 4rem 0;
    font-size: .65rem;
  }
}

p.editor {
    // font-size: 1rem;
    color: $light;
}

.designer {
  margin-bottom: 3rem;
}
.authors {
  margin-top: 8%;
  padding: 2rem;
  z-index: 3;
    li {
      color: $light;
    }
    ul{
      // position: absolute;
    }
}

.nav {
  position: relative;
  margin-top: 1rem;
    @include goldilocks (baby) {
    margin: 0;
    font-size: .75rem;
  }

    a {
      position: absolute;
      z-index: 2;
      right:0%;
      padding: .5rem 1rem;
    }
    .essays {
    color: $light;
    padding: .5rem 2rem;
    left: 0%;
    }
  
  li {
    padding: 1rem 2rem;
    text-align: center;
    display: inline-block;
    &:hover {
      color: $accent;
      }
    
  }
}

.order {
  // margin: 32% 53% 0;
  // width: 16rem;
  // position: absolute;
  float: left;
  padding: 2rem;
  width: 60%;

  button {
    @include goldilocks (baby) {
      font-size: .8rem;
    }
  }
    @include goldilocks (baby) {
    padding: 0;
    margin: 0 2rem;
  }

  p{
    color: $light;
    padding-right: 6rem;
      @include goldilocks (baby) {
        padding-right: 0;
      }
  }
}

.about {
  font-family: $font-stack;
  font-size: 1.15rem;
  float: right;
  padding: .75rem;
  @include goldilocks(baby) {
    font-size: .9rem;
  }
}

.white {
  color: $light;
}
/******************************************
/* BIOS                 
/*******************************************/
/**/

.grid-overlay {
    position: absolute;
    top: 20px;
    bottom: 20px;
    // right: 10px;
    // left: 0px;
    height: 29rem;
    // display: none;
    background: $body;
    // padding: 3px;
    // transition: 0.6s ease-out;
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.7s,opacity 0.7s linear;

    .title  {
      font-size: 1.25rem;
      font-family: $font-stack;
      padding-right: .15rem;
      color: $accent;
    }
    p.info {
      font-size: 1rem;
      margin-bottom: 0;
      color: $light;
    }
}

.item {
  // position: absolute;
  overflow: hidden;
  width: 38rem;
  line-height: 2rem;
  cursor: pointer;
    @include goldilocks (baby) {
    font-size: .6rem;
    line-height: 1.5rem;
  }
  // height: 20rem;
  &:hover .grid-overlay {
    // display: inline-block;
    visibility:visible;
  opacity:1;
  transition-delay:0.4s;
  }
  &:hover {
    border-bottom: 1px solid $light;
    width: 10rem;
  }
  &:hover body {
    background-color: $heading;
  }

}

.booklet-img {
  float: left;
  // width: 35rem;
  padding: 1rem;
}
.margin-about {
  margin: 6rem 0;
}
.margin-img {
  margin: 11rem 0;
}

.icon {
  display: block;
  width: 28px;
  width: 28px;
}

.email {
  background: url(../img/sprites.png) no-repeat;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-position: 0 0;
  width: 28px;
  height: 28px;
  margin: 0 auto;
    @include goldilocks (baby) {
      margin: 0;
    }
  &:hover {
    background-position: 0 -31px ;
    width: 28px;
    height: 28px;
  }
}

.mail{
  float: right;
  margin: 4rem;
    @include goldilocks (baby) {
    margin: 0 2rem;
    float: none;
  }
  &:hover p{
      color: $light;
    }

    p{
    font-size: .5rem;
    padding: .25rem;
    color: $accent;
    // margin:40.5rem -4.75rem 0 0;
    transition: .4s ease-out;
    float: left;
      @include goldilocks (baby) {
        padding: .25rem 0;
        float: none;
      }
  }
}

/******************************************
/* EXCERPTS                 
/*******************************************/
/**/

.box {
  padding: 4rem;
  cursor: pointer;
  min-height: 19rem;
  // min-height: 24rem;
    &:hover .excerpt-overlay {
      // display: inline-block;
    visibility:visible;
    opacity:1;
    transition-delay:0.4s;
  }
  p {
    font-size: 1rem;
  }
}
.box-1{
  background-color: #c5bcb9;
}
.box-2 {
  background-color: #afa5a1;
}
.box-3 {
  background-color: #948783;
  // margin-right: 4.75rem;
}
.box-4 {
  background-color: #756a66;
}
.box-5 {
  background-color: #695f5b;
}
.box-6 {
  background-color: #4f4844;
}
.box-7 {
  background-color: #2c2724;
}


.excerpt-overlay {
    position: absolute;
    top: 0px;
    bottom: -303px;
    right: 0px;
    left: 0px;
    padding: 2rem;
    background-color: $light;
    color: $body;
    z-index: 4;
    // display: none;
    // padding: 3px;
    // transition: 0.6s ease-out;
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.7s,opacity 0.7s linear;
  }

.overlay {
  bottom: 0px;
}










