@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

body {
	font-family: $font-sans;
}
/******************************************
/* COVER IMAGE                   
/*******************************************/
/**/


.header {
	position: absolute;
	// margin-top: -2rem;
}

.crop-height {
	max-height: 600px;
	overflow: hidden;
	position: relative;

	// display: block;
}

li {
	list-style: none;
}

img.scale {
	max-width: 100%;
	display: block; 
	width: 100%; /* corrects obscure Firefox bug */
	
	/* just in case, to force correct aspect ratio */
	height: auto !important;
	/*width: auto\9; 
	/* ie8+9 - use modernizr instead of this \9 hack */
	/* lt ie8 */
	-ms-interpolation-mode: bicubic;
}

// .flip {
// 	-webkit-transform: rotate(180deg);
// 	-moz-transform:    rotate(180deg);
// 	-ms-transform:     rotate(180deg);
// 	-o-transform:      rotate(180deg);
// 	transform:         rotate(180deg);
// 	/* needed? not sure */
// 	zoom: 1; 
// }

img.flip {
	float: right;
}

/******************************************
/* TEXT                 
/*******************************************/
/**/

.project-title {
	margin-top: 17rem;
	font-family: $font-sans;
	ul {
		text-align: center;
		margin: 1rem 0 2rem;
	}
}

h2 {
	color: #ff5de3;
	font-size: 3rem;
	text-align: center;
	font-family: $font-sans;
}

.data {
	list-style: none;
	display: inline-block;
	color: snow;
	font-size: .75rem;
	border-bottom: 3px solid;
	text-align: center;
	margin: 0 1rem;
	text-transform: uppercase;
	&:hover {
		background-color: #ff5de3;

	}
}

.project-info {
	background-color: snow;
	border: 6px solid black;
	padding: 3rem 3rem 3rem;
	margin-bottom: 2rem;
}
.read-more {
	padding:0;
	position: absolute;
	margin: 1.5rem 0;
	a:active {
		.project-para {
			height: 44rem;
			overflow: visible;
		}
	}
}

.project-para {
	position: relative;
	// max-height: 42rem;
	// overflow: hidden;
	position: relative;
	p {
		font-size: 1.25rem;
		text-overflow: ellipsis;
		word-wrap: break-word;
	}
}
.member-heading {
	color: $pink;
	margin-bottom: .25rem;
	text-transform: uppercase;
	font-size: 1rem;
}
.members {
	margin-bottom: 2rem;
	
	li {
		list-style: none;
		display: inline-block;
		margin-right: 2rem;
		border-bottom: 1px black solid;
	}
}

.about {
	margin-bottom: 3rem;
}
/* This CSS is used for the Show/Hide functionality. */
//    .text-reveal{
  
// 	  &:container{
// 	    height: 0;
// 	    overflow: hidden;
// 	    -webkit-transition: height 0.3s ease;
// 	    -moz-transition: height 0.3s ease;
// 	    -ms-transition: height 0.3s ease;
// 	    -o-transition: height 0.3s ease;
// 	    transition: height 0.3s ease;
// 	  }
	  
// 	  &:trigger{
// 	    cursor: pointer;
// 	    display: inline-block;
// 	  }
  
// }
  

/******************************************
/* FLEXSLIDER                 
/*******************************************/
/**/

#slider, #carousel {
	margin: 1rem;
	border: none;
}

#carousel {
	li {
		margin-right:.25rem;
	}
}
.flex-direction-nav a {
	font-size: 31px;
}


.grid-overlay {
	position: absolute;
    top: 0px;
    bottom: 20px;
    right: 10px;
    left: 10px;
    opacity: 0;
    background: white;
    border: 7px solid black;
    // padding: 3px;
    transition: 0.6s ease-out;

    .info {
    	margin-top: 3rem;
	    font-size: 1.65rem;
	    text-align: center;
	    font-family: $heading;
	    line-height: 1;
	    padding-right: .15rem;
    }
    .subhead, .date {
    	font-size: 1rem;
	    text-align: center;
	    padding-top: .65rem;
	    margin-bottom: 0;
    }

}

.small-block-grid-3 {
	margin-top: 2rem;
}

.item {
	position: relative;
	overflow: hidden;
	&:hover .grid-overlay {
    opacity: 1;
  }
}


/******************************************
/* VIDEO                 
/*******************************************/
/**/

.flex-video {
	margin: 1rem;
}



