@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

body {
	font-family: $font-sans;
}
/******************************************
/* COVER IMAGE                   
/*******************************************/
/**/


.header {
	position: absolute;
	// margin-top: -2rem;
}

.crop-height {
	max-height: 600px;
	overflow: hidden;
	position: relative;
	// display: block;
}

li {
	list-style: none;
}

p {
	margin-bottom: 0;
}

img.scale {
	max-width: 100%;
	display: block; 
	width: 100%; /* corrects obscure Firefox bug */
	
	/* just in case, to force correct aspect ratio */
	height: auto !important;
	/*width: auto\9; 
	/* ie8+9 - use modernizr instead of this \9 hack */
	/* lt ie8 */
	-ms-interpolation-mode: bicubic;
	@include goldilocks (baby) {
		max-width: 220%;
		width: 220%;
	}
}

// .flip {
// 	-webkit-transform: rotate(180deg);
// 	-moz-transform:    rotate(180deg);
// 	-ms-transform:     rotate(180deg);
// 	-o-transform:      rotate(180deg);
// 	transform:         rotate(180deg);
// 	/* needed? not sure */
// 	zoom: 1; 
// }

img.flip {
	float: right;
	@include goldilocks (baby) {
		float: left;
	}
}
.row-videos {
	max-width: 100%;
}
.large-55 {
	@include goldilocks(papa) {
	width: 33.3%;
	}
}
/******************************************
/* TEXT                 
/*******************************************/
/**/

.project-title {
	margin-top: 17rem;
	font-family: $font-sans;
	@include goldilocks (baby) {
		margin: 10rem 0 0 0;
	}
	ul {
		text-align: center;
		margin: 1rem 0 2rem;
	}
	.date {
    font-size: .90rem;
    text-align: center;
    padding: .65rem;
    color: white;
    @include goldilocks (baby) {
    	font-size: .65rem;
    	padding: 0.25rem;
    }
  }
}

h2 {
	color: white;
	font-size: 2rem;
	text-align: center;
	font-family: $font-sans;
	@include goldilocks (baby) {
		font-size: 1rem;
		margin: 0;
	}
}

.data {
	list-style: none;
	display: inline-block;
	color: snow;
	font-size: .75rem;
	border-bottom: 3px solid;
	text-align: center;
	margin: 0 1rem;
	text-transform: uppercase;
	&:hover {
		background-color: #ff5de3;

	}
}

.project-info {
	background-color: white;
	border: 6px solid black;
	padding: 3rem 3rem 3rem;
	margin-bottom: 2rem;
	a {
		padding-bottom: .25rem;
		color: $pink;
		&:hover {
			background-color:  $pink;
			color: white;
		}
		@include goldilocks (baby) {
			border-bottom: 1px solid black;
		}
	}
	 @include goldilocks (baby) {
	 	padding: 1.5rem;
	 	margin-bottom: 1rem;
 		border: 4px solid black;
	 }
}
.read-more {
	padding:0;
	position: absolute;
	margin: 1.5rem 0;
	a:active {
		.project-para {
			height: 44rem;
			overflow: visible;
		}
	}
}

.project-para {
	position: relative;
	// max-height: 42rem;
	// overflow: hidden;
	position: relative;
	p {
		font-size: 1.05rem;
		padding-bottom: .75rem;
		text-overflow: ellipsis;
		word-wrap: break-word;
		 @include goldilocks (baby) {
		 	font-size: .75rem;
		 }
	}
}
.member-heading {
	color: $pink;
	margin-bottom: .25rem;
	text-transform: uppercase;
	font-size: 1rem;
}
.members {
	
	li {
		list-style: none;
		display: inline-block;
		margin-right: 2rem;
		// border-bottom: 1px black solid;
	}
}

.about {
	margin-bottom: 3rem;
}
.contributors {
	max-width: 26rem;
}
.info{
	border: 6px solid black;
	h5 {
		padding: 1rem 0;
	}
}
.reveal-modal .close-reveal-modal {
	font-size: 1.5rem;
	color: black;
}

.reveal-modal {
	max-width: 47rem;
	p {
		padding-bottom: .75rem;
	}
}
.modalTitle {
	font-family: $heading;
}


/* This CSS is used for the Show/Hide functionality. */
//    .text-reveal{
  
// 	  &:container{
// 	    height: 0;
// 	    overflow: hidden;
// 	    -webkit-transition: height 0.3s ease;
// 	    -moz-transition: height 0.3s ease;
// 	    -ms-transition: height 0.3s ease;
// 	    -o-transition: height 0.3s ease;
// 	    transition: height 0.3s ease;
// 	  }
	  
// 	  &:trigger{
// 	    cursor: pointer;
// 	    display: inline-block;
// 	  }
  
// }


ul.extra-info {
	margin-bottom: 6rem;
	text-align: center;
	@include goldilocks (baby) {
			margin-bottom: 2rem;
		}
	
	li {
		font-size: 1.25rem;
		display: inline-block;
		// padding:  0 2rem 0 0;
		@include goldilocks (baby) {
			font-size: .85rem;
		}
	}
	a {
		
		padding: .5rem;
		border: 4px solid black;
		&:hover {
			background-color:  $pink;
			color: white;
		}
		@include goldilocks (baby) {
			border: 3px solid black;
		}
	}

}

.publication {
	.press-links {
		border-bottom: 2px solid black;
		&:hover {
			background-color: $pink;
		}
	}
}

.pakhtun-quote {
	text-align: center;
	padding-bottom: .75rem;
}
.pakhtun-video {
	padding: 18px;
}
.donate a{
	color: $pink;
	text-transform: uppercase;
	border-bottom: 1px solid $pink;
	padding: .75rem 0 0 0;
	font-size: .9rem;
	text-align: center;
	margin: 0 27%;
	display: block;
	@include goldilocks (baby) {
		margin: 0;
		display: inline;
	}
}
.cv {
	h5 {
		padding: 1rem 0;
	}
  a {
    padding-bottom: 0;
    color: $pink;
  }
  li {
    padding-bottom: 1rem;
    line-height: 1.25rem;
    list-style: disc;
    margin-left: 1rem;
  }
}

/******************************************
/* FLEXSLIDER                 
/*******************************************/
/**/

.map {
	float: right;
	width: 20px;
	margin: 4px;
}

#slider, #carousel {
	// margin: 1rem;
	border: none;
}
.carousel {
	li {
		max-width: 180px;
		margin-right: 0;
		@include goldilocks(baby) {
			max-width: 100px;
		}
	}
}

.slides {
	img {
		padding-right:.25rem;
	}
}
.flex-direction-nav a {
	opacity: 0;
	&:hover {
		opacity: 1;
	}
	@include goldilocks(baby) {
		display: none;
	}
}

// .flex-control-nav {
// 	margin: 1rem 0 2rem;
// 	bottom: -6px;
// }
.flexslider-projections {
	.flex-viewport {
	margin-top: 1rem;
	}
}
.projections-video p{
	border-bottom: 2px solid $pink;
	padding-bottom: 2px;
	display: inline;
	color: $pink;
}

.grid-overlay {
	position: absolute;
    top: 0px;
    bottom: 20px;
    right: 10px;
    left: 10px;
    opacity: 0;
    background: white;
    border: 7px solid black;
    // padding: 3px;
    transition: 0.6s ease-out;

    .title {
    	margin-top: 3rem;
	    font-size: 1.5rem;
	    text-align: center;
	    font-family: $heading;
	    line-height: 1;
	    padding-right: .15rem; 
	    @include goldilocks(baby) {
	    	font-size: 1rem;
	    	padding:0 0 .5rem 0;
	    	margin-top: .75rem;

	    }
    }
    .subhead, .date {
    	font-size: .75rem;
	    text-align: center;
	    margin-bottom: 0; 
	    @include goldilocks(baby) {
	    	font-size: .75rem;
	    }
    }

}
.modal-gandi {
	.title {
		margin-top: 25%;
	}
}
.gandi-workshop li{
	list-style: decimal;
	list-style-position: inside;
}
.small-block-grid-3 {
	margin-top: 2rem;
}

.item {
	position: relative;
	overflow: hidden;
	&:hover .grid-overlay {
    opacity: 1;
  }
}

.flexslider {
	margin: 0;
	clear: both;
}

.flexslider .flex-direction-nav li a.flex-next {
	background: url('../img/arrows-02.png') no-repeat 0 0 !important;
}

.flexslider .flex-direction-nav li a.flex-prev {
	background: url('../img/arrows-01.png') no-repeat 0 0px !important;
	
}
.flexslider-projections .flex-direction-nav li a.flex-next {
	background: url('../img/arrows-02.png') no-repeat 0 0 !important;
	right: -60px;
	opacity: 1;
}

.flexslider-projections .flex-direction-nav li a.flex-prev {
	background: url('../img/arrows-01.png') no-repeat 0 0px !important;
	left: -40px;
	opacity: 1;
}

.flex-direction-nav a {
	color: transparent;
	text-shadow: none;
	width: 45px;
	 &:visited {
	 	color: transparent;
	 }
}

.flex-direction-nav a:before {
	display: none;
	content: none;
	text-shadow: none;
	color: transparent;
}

#flex3 {
	padding: 0.5rem 0;
}
.masonry-grid {
	margin: 0 auto;
	width: 100%;
	img {
		width: 100%;
		display: block;
	}
}
.masonry-grid:nth-child(1) {
    margin: 0;
}
.grid-item {
	padding: 1px;
	float: left;

}
.grid-sizer {
	// width: 20%;
}

.clear-float {
	clear: both;
}
.x-large-grid-item {
	width: 100%;
}
.large-grid-item {
	width: 65%;
	float: left;
}
.medium-grid-item {
	width: 50%;
}
.small-grid-item {
	margin-right: 0;
	width: 35%;
	// float: right;
	// height: 324px
}
.x-small-grid-item {
	width: 25%;
	// float: right;
	// height: 324px
}
.video-grid-item {
	float: right;
	width: 33.3%;
	@include goldilocks(mama) {
		width: 33.3%;
	}
	@include goldilocks(baby) {
		width: 100%;
	}
}
iframe {
    width: 100%;
}
.minus-margin {
	margin-top: -7px;
}

.mama-50 {
	@include goldilocks(mama) {
		width: 50%;
		margin: 0;
	}
}
.mama-100 {
	@include goldilocks(mama) {
		width: 100%;
	}
}
.baby-100 {
	@include goldilocks(baby) {
		width: 100%;
	}
}
.padding-end-page {
	padding: 2rem;
}
/******************************************
/* VIDEO                 
/*******************************************/
/**/

.flex-video {
	margin: 1rem;
}
.videos{
	padding: 2px;
	margin: 0;
}


/******************************************
/* LOCATION                 
/*******************************************/
/**/
// .location-row {
// 	max-width: 93%;
// }
.location-head {
    padding: 1rem;
    border: .35rem solid black;
	text-align: center;
    margin: 2rem 0;
    clear: both;
    h3 {
    	float: left;
    	font-size: 1.25rem;
    }
}

 .location-text {
 	font-size: 1.5rem;
 	font-family: $font-sans;
 	top: 0px;
 	bottom: 0px;
 	left: 0px;
 	right: 0px;
 }
