@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
/* 
Project Name: Tentative Collective Website
Client: Yaminay Chaudhri, Mehreen Murtaza
Author: A Kamran
*/
/******************************************
/* SETUP                   
/*******************************************/
/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES                   
/*******************************************/
/**/
audio,
canvas,
img,
video {
  vertical-align: middle;
}

html {
  height: 100%;
}

body {
  font-family: "Gill Sans", sans-serif;
  overflow-x: hidden;
}

ul {
  margin: 0;
}

.row {
  clear: both;
}

.content {
  padding: 3rem;
}
@media only screen and (max-width: 414px) {
  .content {
    padding: .8rem;
  }
}

#gradient {
  width: 100%;
  position: absolute;
  background: linear-gradient(180deg, #06f219, #027b0c, #f01272);
  background-size: 600% 600%;
  overflow: hidden;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 51% 0%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 51% 0%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 51% 0%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 51% 0%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 51% 0%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 51% 0%;
  }
}

main {
  background-color: #fff;
  margin: .75rem;
  position: relative;
  opacity: 1;
}

.wrapper {
  position: relative;
  opacity: 1;
  -webkit-transition: 1s ease opacity;
}
.wrapper .loading {
  overflow: hidden;
  opacity: 0;
}

.hide {
  display: none;
}

.show {
  opacity: 1;
}

a:visited {
  color: black;
}

:focus {
  outline: none;
}

@media only screen and (max-width: 414px) {
  .project {
    padding: 0;
    margin: 0;
  }
}

/******************************************
/* NAV                   
/*******************************************/
/**/
h1 {
  margin: 0;
}

h3 {
  font-family: "Gill Sans", sans-serif;
}

h4 {
  font-size: .8rem;
  border-bottom: 3px solid #333;
  width: 3.25rem;
}

h5 {
  font-size: 2rem;
  font-family: "Conv_NuptialScriptLTStd";
  margin: 0;
  padding: 1rem;
}

a {
  color: black;
}

.cv a {
  border-bottom: 1px solid black;
}

.logo {
  width: 8rem;
  margin: 3% 4%;
  float: left;
  position: fixed;
  z-index: 1;
}
@media only screen and (max-width: 414px) {
  .logo {
    width: 3rem;
    position: absolute;
    margin: 9% 5%;
  }
}

#nav-trigger {
  position: absolute;
  top: 0;
  height: 100%;
}
#nav-trigger:hover .menu {
  opacity: 1;
}

.menu {
  opacity: 0;
  font-size: .75rem;
  color: #008f45;
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -ms-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.eye {
  float: right;
  width: 3.5rem;
  margin: 3% 91%;
  position: fixed;
  z-index: 100;
}
@media only screen and (max-width: 414px) {
  .eye {
    width: 1.5rem;
    margin: 9% 85%;
    position: fixed;
  }
}

.menu-list {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height: 100%;
  border-left: 12px solid #a2ff26;
  border-right: 12px solid #008113;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 12px;
  -moz-background-size: 100% 12px;
  background-size: 100% 12px;
  background-image: -webkit-linear-gradient(left, #a2ff26 0%, #008113 100%), -webkit-linear-gradient(left, #a2ff26 0%, #008113 100%);
  background-image: -moz-linear-gradient(left, #a2ff26 0%, #008113 100%), -moz-linear-gradient(left, #a2ff26 0%, #008113 100%);
  background-image: -o-linear-gradient(left, #a2ff26 0%, #008113 100%), -o-linear-gradient(left, #a2ff26 0%, #008113 100%);
  background-image: linear-gradient(to right, #a2ff26 0%, #008113 100%), linear-gradient(to right, #a2ff26 0%, #008113 100%);
}
.menu-list ul {
  padding-top: 15rem;
}
.menu-list li {
  list-style: none;
  display: inline;
  position: relative;
  color: #008f45;
  font-family: "Gill Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: .15rem;
  text-transform: uppercase;
  border-bottom: 2px solid white;
}
.menu-list li:hover {
  border-bottom: 5px solid #dd1b75;
  -webkit-transition: border-color 500ms ease;
  -moz-transition: border-color 500ms ease;
  -o-transition: border-color 500ms ease;
  transition: border-color 500ms ease;
  color: #dd1b75;
}
.menu-list .about {
  margin: 7% 17%;
}
.menu-list .work {
  margin: 19% 43%;
}
.menu-list .contact {
  margin: 32% 75%;
}

.white {
  color: snow;
}

/******************************************
/* OVERLAY                   
/*******************************************/
/**/
.overlay {
  position: fixed;
  pointer-events: none;
  left: 0;
  z-index: 2;
  width: 100%;
  top: 0;
  height: 80rem;
}

.overlay .overlay-image {
  opacity: 0;
  -webkit-transition: 0.25s cubic-bezier(0.72, 0.04, 0.49, 0.7) all 0.15s;
  -moz-transition: 0.25s cubic-bezier(0.72, 0.04, 0.49, 0.7) all 0.15s;
  -ms-transition: 0.25s cubic-bezier(0.72, 0.04, 0.49, 0.7) all 0.15s;
  -o-transition: 0.25s cubic-bezier(0.72, 0.04, 0.49, 0.7) all 0.15s;
}

.overlay .overlay-image.zoom {
  -webkit-transition: 0.5s cubic-bezier(0.72, 0.04, 0.49, 0.7) all 0s;
  -moz-transition: 0.5s cubic-bezier(0.72, 0.04, 0.49, 0.7) all 0s;
  -ms-transition: 0.5s cubic-bezier(0.72, 0.04, 0.49, 0.7) all 0s;
  -o-transition: 0.5s cubic-bezier(0.72, 0.04, 0.49, 0.7) all 0s;
  -webkit-transform: scale(4, 4);
  -ms-transform: scale(4, 4);
  -o-transform: scale(4, 4);
  transform: scale(4, 4);
}

.overlay.visible .overlay-image {
  opacity: 1;
}

.points {
  position: absolute;
  height: 0;
  left: 0;
  top: 0;
  z-index: 10;
}

.point {
  font-family: 'Droid Arabic Naskh', serif;
  color: #dd1b75;
  font-size: 1.5rem;
  z-index: 999;
  position: absolute;
  cursor: pointer;
  pointer-events: all;
  width: 40px;
  height: 40px;
  -webkit-transition: .5s ease-all;
  opacity: 1;
  top: 100px;
  left: 100px;
}
.point .inner {
  position: relative;
  text-align: center;
  transform: scale(0.66);
  -webkit-transition: .25s ease-all;
  box-sizing: inherit;
}

.point.highlight {
  opacity: 1;
}

.point.highlight .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.overlay-image {
  height: 200%;
  width: 200%;
}

.caption {
  font-size: 1.5rem;
  text-align: center;
  position: fixed;
  opacity: 0;
  z-index: 2;
  -webkit-transition: .25s ease all 0s;
  margin: 0 25%;
  top: 40%;
  font-family: 'gill Sans';
  color: snow;
  font-weight: normal;
  width: 50%;
}

.caption.visible {
  -webkit-transition: .25s ease all .5s;
  -moz-transition: .25s ease all .5s;
  -ms-transition: .25s ease all .5s;
  -o-transition: .25s ease all .5s;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

/******************************************
/* FOOTER                   
/*******************************************/
/**/
footer {
  padding: 2rem;
  text-align: center;
  vertical-align: middle;
  position: relative;
  height: 17rem;
  clear: both;
}
footer p {
  color: #dd1b75;
  margin: -3rem;
  font-size: 1.25rem;
  font-family: "Gill Sans", sans-serif;
  position: relative;
}

.email {
  text-align: center;
}
.email img {
  filter: "progid:DXImageTransform.Microsoft.Dropshadow (OffX=12, OffY=12,
    Color='#444')";
  filter: url(#drop-shadow);
  -webkit-filter: drop-shadow(-1px 6px 0px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(-1px 6px 0px rgba(0, 0, 0, 0.5));
  transition: 0.5s ease-in-out;
}
.email:hover img {
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
  -webkit-filter: drop-shadow(-1px 6px 0px rgba(0, 0, 0, 0));
}

.socials {
  margin: 8% 47%;
}

.socials-icon {
  display: block;
  width: 32px;
  height: 33px;
  float: left;
}

.facebook {
  background-position: 0 -1px;
}
.facebook:hover {
  background-position: 0 -41px;
}

.vimeo {
  margin-left: 6px;
  background-position: -49px -1px;
}
.vimeo:hover {
  background-position: -49px -41px;
}

.sprite {
  background: url("../img/sprites.png") no-repeat;
}

.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/******************************************
/* PROJECT THUMBNAIL                   
/*******************************************/
/**/
.first-project {
  margin-top: -1%;
}
@media only screen and (max-width: 414px) {
  .first-project {
    margin-top: 0;
  }
}

.thumbnail {
  float: left;
  padding-bottom: 4rem;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .thumbnail {
    max-width: 36rem;
  }
}
@media only screen and (max-width: 414px) {
  .thumbnail {
    float: none;
    padding-bottom: 0;
  }
}

.projections {
  margin: 1rem 0rem;
}
@media only screen and (max-width: 414px) {
  .projections {
    margin: 2rem 0;
  }
}
.projections .blurb {
  margin: 2rem 33rem;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .projections .blurb {
    margin: 3.5rem 24rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .projections .blurb {
    margin: 2rem 18rem;
  }
}
@media only screen and (max-width: 414px) {
  .projections .blurb {
    margin: 5% 0%;
    position: relative;
  }
}

.mkmc {
  margin: 1rem 0rem;
}
.mkmc .blurb {
  margin: 2rem -14rem;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .mkmc .blurb {
    margin: 3.5rem -7rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .mkmc .blurb {
    margin: 3.5rem -7rem;
  }
}
@media only screen and (max-width: 414px) {
  .mkmc .blurb {
    margin: 5% 0;
  }
}

.beyond-walls h3 {
  word-spacing: 7px;
}
.beyond-walls .blurb {
  margin: -38rem 35rem;
}

.blurb {
  width: 29rem;
  font-family: 'Gill Sans';
  border: 6px solid black;
  background-color: snow;
  position: absolute;
  padding: 3rem;
  float: right;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .blurb {
    width: 23rem;
  }
}
@media only screen and (max-width: 414px) {
  .blurb {
    padding: 1rem;
    position: relative;
    width: 100%;
    float: none;
  }
}
.blurb h3 {
  font-family: "Conv_NuptialScriptLTStd";
  font-size: 2rem;
  line-height: 2rem;
}
@media only screen and (max-width: 414px) {
  .blurb h3 {
    font-size: 1.25rem;
  }
}
.blurb p {
  font-size: 1rem;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .blurb p {
    font-size: .75rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .blurb p {
    font-size: .75rem;
  }
}
@media only screen and (max-width: 414px) {
  .blurb p {
    font-size: .75rem;
  }
}
.blurb .date {
  font-size: .80rem;
}

.view {
  color: black;
  font-size: .75rem;
  font-weight: bold;
  border-bottom: 2px solid black;
  padding: 1rem;
}
.view:hover {
  color: #dd1b75;
  border-bottom: 1px solid #dd1b75;
  transition: .25s all ease-in-out;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .view {
    padding: 0 0 0.75rem;
    border-bottom: 1px solid black;
  }
}
@media only screen and (max-width: 414px) {
  .view {
    padding: 0 0 0.75rem;
    border-bottom: 1px solid black;
  }
}
