/* 
Project Name: Tentative Collective Website
Client: Yaminay Chaudhri, Mehreen Murtaza
Author: A Kamran
*/
/******************************************
/* SETUP                   
/*******************************************/
/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES                   
/*******************************************/
/**/
audio,
canvas,
img,
video {
  vertical-align: middle;
}

#container {
  margin: 0 auto;
  width: 100%;
}

#gradient {
  background: linear-gradient(251deg, #e4007e, #a2ff26, #008f45);
  background-size: 600% 600%;
  display: inline-block;
  width: 100%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 45%;
  }

  50% {
    background-position: 100% 56%;
  }

  100% {
    background-position: 0% 45%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 45%;
  }

  50% {
    background-position: 100% 56%;
  }

  100% {
    background-position: 0% 45%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 45%;
  }

  50% {
    background-position: 100% 56%;
  }

  100% {
    background-position: 0% 45%;
  }
}

#main {
  background-color: #fff;
  margin: .75rem;
  display: flex;
  height: 60rem;
}

/******************************************
/* NAV                   
/*******************************************/
/**/
.logo {
  width: 8rem;
  margin: 2rem;
  float: left;
}

.eye {
  float: right;
  width: 3.5rem;
  margin: 2% 80%;
  position: absolute;
}

li {
  list-style: none;
  display: inline;
  position: relative;
  color: #008f45;
  font-family: "Cabin", sans-serif;
  font-size: 1.25rem;
  letter-spacing: .15rem;
}

.about {
  position: absolute;
  margin-left: 36%;
}

.archive {
  position: absolute;
  top: 40%;
  right: -2.5rem;
  /* Rotate from top left corner (not default) */
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.contact {
  position: absolute;
  top: 55%;
  left: 1.5rem;
  /* Rotate from top left corner (not default) */
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}

/******************************************
/* PROJECT HOMEPAGE                   
/*******************************************/
/**/
.project .thumbnail {
  margin: 6rem;
  float: left;
}
.project .blurb {
  width: 24rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  border: 6px solid black;
  background-color: snow;
  float: right;
  position: absolute;
  padding: 1.5rem;
  margin: 12.5rem 30rem;
}
.project .blurb a {
  color: black;
  font-size: .75rem;
  font-weight: bold;
  border-bottom: 2px solid black;
}
