/* 
Project Name: Tentative Collective Website
Client: Yaminay Chaudhri, Mehreen Murtaza
Author: A Kamran
*/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear {
	clear: both;
}


/******************************************
/* BASE STYLES                   
/*******************************************/
/**/

audio,
canvas,
img,
video {
    vertical-align: middle;
}


html {
  height: 100%;
}
body {
  font-family: $font-sans;
  overflow-x: hidden;
}

ul {
  margin: 0;
}
.content {
  padding: 3rem;
}
#gradient {

// display: inline-block;
width: 100%;
position: absolute;

background: linear-gradient(180deg, #06f219, #027b0c, #f01272);
background-size: 600% 600%;

-webkit-animation: AnimationName 15s ease infinite;
-moz-animation: AnimationName 15s ease infinite;
animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes AnimationName { 
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}

}

main {
  background-color: #fff;
  margin:.75rem;
  // display: flex;
  // display: list-item;
  position: relative;
  opacity: 1;
}

.wrapper {
  position: relative;
  opacity: 1;
  -webkit-transition: 1s ease opacity;
  .loading {
    overflow: hidden;
    opacity: 0;
  }
}

.hide {
//   opacity: 0;
//   visibility: hidden;
// transition: visibility 0s 2s, opacity 2s linear;
display: none;


}

.show {
  opacity: 1;

}

a:visited {
  color: black;
}

:focus {
  outline: none;
}

// .pace .pace-progress{
//   background:#000;
//   position:fixed;
//   z-index:2000;
//   top:0;right:100%;
//   width:100%;
//   height:1px
//   }
// .hidden{
//   display:none!important;visibility:hidden
// }

/******************************************
/* NAV                   
/*******************************************/
/**/

h1 {
  margin: 0;
}

h3 {
  font-family: $font-sans;
}
h4 {
  font-size: .8rem;
  border-bottom: 3px solid #333;
  width: 3.25rem; 
}
h5 {
  font-size: 2rem;
  font-family: $heading;
  margin: 0;
  padding: 1rem;
}

a {
  color:black;
}
.cv {
  a {
    border-bottom: 1px solid black;
  }
}
.logo {
  width: 8rem;
  margin: 3% 4%;
  float: left;
  position: fixed;
  z-index: 1;
}
#nav-trigger {
  position: absolute;
  top: 0;
  height: 100%;

  &:hover .menu {
    opacity: 1 ;
  }
}
.menu {
  opacity: 0;
  font-size: .75rem;
  color: $green;
  @include vendor(transition, all .9s ease-in-out);
}

.eye{
  float: right;
  width: 3.5rem;
  margin: 3% 91%;
  position: fixed;
  z-index: 100;
  
}

.menu-list {

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height: 100%;

  
  border-left: 12px solid #a2ff26;
  border-right: 12px solid #008113;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 0 100% ;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 12px;
  -moz-background-size: 100% 12px;
  background-size: 100% 12px;
  background-image: -webkit-linear-gradient(left, #a2ff26 0%, #008113 100%), -webkit-linear-gradient(left, #a2ff26 0%, #008113 100%);
  background-image: -moz-linear-gradient(left, #a2ff26 0%, #008113 100%), -moz-linear-gradient(left, #a2ff26 0%, #008113 100%);
  background-image: -o-linear-gradient(left, #a2ff26 0%, #008113 100%), -o-linear-gradient(left, #a2ff26 0%, #008113 100%);
  background-image: linear-gradient(to right, #a2ff26 0%, #008113 100%), linear-gradient(to right, #a2ff26 0%, #008113 100%);
  

  ul {
    padding-top: 15rem;

  }

  li {
    list-style: none;
    display: inline;
    position: relative;
    color: $green;
    font-family: $font-sans;
    font-size: 2rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
    border-bottom: 2px solid white;

    &:hover {
      border-bottom: 5px solid $pink;
      -webkit-transition:border-color 500ms ease; 
      -moz-transition:border-color 500ms ease; 
      -o-transition:border-color 500ms ease; 
      transition:border-color 500ms ease;
      color: $pink;
    }

  }

  .about {
      // position: absolute;
      margin: 7% 17%;
  }
  .work {
    
    margin: 19% 43%;
    
  }
  .contact {
    
    margin: 32% 75%;
    
    /* Rotate from top left corner (not default) */
    // -webkit-transform-origin: 0 0;
    // -moz-transform-origin:    0 0;
    // -ms-transform-origin:     0 0;
    // -o-transform-origin:      0 0;
    
    // -webkit-transform: rotate(270deg); 
    // -moz-transform:    rotate(270deg); 
    // -ms-transform:     rotate(270deg); 
    // -o-transform:      rotate(270deg); 
  }
}



.white {
  color: snow;
}

/******************************************
/* OVERLAY                   
/*******************************************/
/**/

.overlay {
  position: fixed;
  pointer-events: none;
  left: 0;
  z-index: 2;
  width: 100%;
  top: 0;
  height: 80rem;
}
.overlay .overlay-image {
  opacity: 0;
  -webkit-transition:.25s cubic-bezier(.72,.04,.49,.7)all .15s;
  -moz-transition:.25s cubic-bezier(.72,.04,.49,.7)all .15s;
  -ms-transition:.25s cubic-bezier(.72,.04,.49,.7)all .15s;
  -o-transition:.25s cubic-bezier(.72,.04,.49,.7)all .15s 
}
.overlay .overlay-image.zoom{
  -webkit-transition:.5s cubic-bezier(.72,.04,.49,.7)all 0s;
  -moz-transition:.5s cubic-bezier(.72,.04,.49,.7)all 0s;
  -ms-transition:.5s cubic-bezier(.72,.04,.49,.7)all 0s;
  -o-transition:.5s cubic-bezier(.72,.04,.49,.7)all 0s;
  -webkit-transform:scale(4,4);-ms-transform:scale(4,4);
  -o-transform:scale(4,4);transform:scale(4,4)
}
.overlay.visible .overlay-image {
  opacity: 1;
}
.points {
  position: absolute;
  height: 0; 
  left: 0;
  top: 0;
  z-index: 10;
  
}
.point{
  font-family: 'Droid Arabic Naskh', serif;
  color: $pink;
  font-size: 1.5rem;
  z-index: 999;
  position: absolute;
  cursor: pointer;
  pointer-events: all;
  width: 40px;
  height: 40px;
  -webkit-transition: .5s ease-all;
  opacity: 1;
  top:100px; left: 100px;

  .inner {
    position: relative;
    text-align: center;
    transform: scale(.66);
    -webkit-transition : .25s ease-all;
    box-sizing: inherit;
  }
}

.point.highlight{
  opacity:1;
}

.point.highlight .inner{
  -webkit-transform:scale(1);
  -ms-transform:scale(1);
  -o-transform:scale(1);
  transform:scale(1);
}

.overlay-image {
  
  height: 200%;
  width: 200%;
}
.caption {
  font-size: 2rem;
  text-align: center;
  position: fixed;
  opacity: 0;
  z-index: 2;
  -webkit-transition: .25s ease all 0s;
  margin: 0 auto;
  top: 40%;
  font-family: 'gill Sans';
  color: snow;
  font-weight: normal;
  width: 100%;
}
.caption.visible{
  -webkit-transition:.25s ease all .5s;
  -moz-transition:.25s ease all .5s;
  -ms-transition:.25s ease all .5s;
  -o-transition:.25s ease all .5s;
  -webkit-transform:translateY(0);
  -ms-transform:translateY(0);
  -o-transform:translateY(0);
  transform:translateY(0);
  opacity:1
}
// .nobreak{
//   white-space:nowrap
// }
// @media only screen and (max-width:400px){
//   .indent .nobreak{
//     display:block;margin-left:1em
//   }
// }
// .cv-wrapper{
//   line-height:135%;
//   padding:80px;
//   z-index:100;
//   position:fixed;top:0;left:0;
//   width:100%;
//   height:100vh;
//   overflow-y:scroll;
//   background-color:#fff;
//   opacity:0;
//   visibility:hidden
// }
// @media only screen and (max-width:900px){
//   .cv-wrapper{padding:20px 80px 20px 20px
//   }
// }
// .cv-wrapper .cv-inner{
//   display:none
// }
// .cv-wrapper .cv-inner.active{
//   display:block
// }
// .cv-wrapper .close{
//   cursor:pointer;
//   font-size:52px;
//   position:fixed;
//   top:40px;right:40px
// }
// .cv-wrapper p,.cv-wrapper ul{
//   margin-bottom:1em
// }.cv-wrapper li{
//   text-indent:-3.5em;
//   padding-left:3.5em
// }
// .cv-wrapper .date{
//   float:left;
//   width:3.5em;
//   display:inline-block
// }
// .hide .cv-wrapper{
//   visibility:visible;
//   opacity:1
// }
// .pace{
//   -webkit-pointer-events:none;
//   pointer-events:none;
//   -webkit-user-select:none;
//   -moz-user-select:none;
//   user-select:none
// }
// .pace-inactive{
//   display:none
// }
// .pace .pace-progress{
//   background:#000;
//   position:fixed;
//   z-index:2000;
//   top:0;right:100%;
//   width:100%;
//   height:1px
// }
// .hidden{
//   display:none!important;
//   visibility:hidden
// }
// .visuallyhidden{
//   border:0;clip:rect(0 0 0 0);
//   height:1px;margin:-1px;
//   overflow:hidden;
//   padding:0;
//   position:absolute;
//   width:1px
// }
// .visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{
//   clip:auto;
//   height:auto;
//   margin:0;
//   overflow:visible;
//   position:static;
//   width:auto
// }
// .invisible{
//   visibility:hidden
// }
// .clearfix:after,.clearfix:before{
//   content:" ";display:table
// }
// .clearfix:after{
//   clear:both
// }
// @media print{*,:after,:before{
//   background:0 0!important;
//   color:#000!important;
//   box-shadow:none!important;
//   text-shadow:none!important
// }
// a,a:visited{
//   text-decoration:underline
// }
// a[href]:after{content:" (" attr(href)")"}abbr[title]:after{content:" (" attr(title)")"}a[href^="#"]:after,a[href^="javascript:"]:after{content:""}blockquote,pre{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}img,tr{page-break-inside:avoid}img{max-width:100%!important}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}

/******************************************
/* FOOTER                   
/*******************************************/
/**/

footer {
  padding: 2rem;
  text-align: center;
  vertical-align: middle;
  position: relative;
  height: 17rem;
  p {
    color: $pink;
    margin: -3rem;
    font-size: 1.25rem;
    font-family: $font-sans;
    position: relative;
  }
}

.email {
  text-align: center;
  img {
    filter: "progid:DXImageTransform.Microsoft.Dropshadow (OffX=12, OffY=12,
    Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(-1px 6px 0px rgba(0,0,0,0.5));
    filter: drop-shadow(-1px 6px 0px rgba(0,0,0,0.5));
    transition: 0.5s ease-in-out;
  }
  &:hover img {
      filter: drop-shadow(0px 0px 0px rgba(0,0,0,0));
      -webkit-filter: drop-shadow(-1px 6px 0px rgba(0,0,0,0));
    }
}
.socials {
  margin: 8% 47%;
}
.socials-icon {
  display: block;
  width: 32px;
  height: 33px;
  float: left;
}
.facebook {
  background-position: 0 -1px;
  &:hover {
    background-position: 0 -41px;
  }
}

.vimeo {
  margin-left: 6px;
  background-position: -49px -1px;
  &:hover {
    background-position: -49px -41px;
  }
}
.sprite {
  background: url("../img/sprites.png") no-repeat;
}
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/******************************************
/* PROJECT THUMBNAIL                   
/*******************************************/
/**/

.first-project {
  margin-top: -1%;
}
.projections {
  margin: 1rem 0rem;
  .thumbnail{
    // position: absolute;
    float: left;
  }

  .blurb {
    margin: 3rem 33rem;
    float: right;
    @include goldilocks(baby) {
      margin: 0 auto;
      float: none;
    }
  }
}

.mkmc {
  margin: 1rem 0rem;
  .thumbnail{
    // position: absolute;
    float: left;
  }

  .blurb {
    margin: 4rem -14rem;
    float: right;
    @include goldilocks(baby) {
      margin: 0 auto;
      float: none;
    }
  }
}

.beyond-walls {
  h3 {
    word-spacing: 7px;
  }
  .blurb {
    float: left;
    margin: -38rem 35rem;
  }
}

.blurb {
  width: 27rem;
  font-family: 'Gill Sans';
  border: 6px solid black;
  background-color: snow;
  position: absolute;
  padding: 3rem;

  h3 {
    font-family: $heading;
    font-size: 2rem;
    line-height: 2rem;
  }

  p {
    font-size: 1rem;

  }
}

.thumbnail{
    padding-bottom: 4rem;
}

.view {
  color: black;
  font-size: .75rem;
  font-weight: bold;
  border-bottom: 2px solid black;
  padding: 1rem;
  &:hover {
    color: $pink;
    border-bottom: 1px solid $pink;
    transition: .25s all ease-in-out;
  }
}















