@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
/* 
Project Name: Tentative Collective Website
Client: Yaminay Chaudhri, Mehreen Murtaza
Author: A Kamran
*/
/******************************************
/* SETUP                   
/*******************************************/
/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES                   
/*******************************************/
/**/
audio,
canvas,
img,
video {
  vertical-align: middle;
}

html {
  height: 100%;
}

body {
  font-family: "Gill Sans", sans-serif;
}

ul {
  margin: 0;
}

#gradient {
  background: linear-gradient(251deg, #e4007e, #a2ff26, #008f45);
  background-size: 600% 600%;
  display: inline-block;
  width: 100%;
  position: absolute;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 45%;
  }

  50% {
    background-position: 100% 56%;
  }

  100% {
    background-position: 0% 45%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 45%;
  }

  50% {
    background-position: 100% 56%;
  }

  100% {
    background-position: 0% 45%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 45%;
  }

  50% {
    background-position: 100% 56%;
  }

  100% {
    background-position: 0% 45%;
  }
}

#main {
  background-color: #fff;
  margin: .75rem;
  display: list-item;
  position: relative;
}

.wrapper {
  position: relative;
  opacity: 1;
  -webkit-transition: 1s ease opacity;
}
.wrapper .loading {
  overflow: hidden;
  opacity: 0;
}

.hide {
  opacity: 0;
  -webkit-transition: 1s ease opacity;
}

.show {
  opacity: 1;
}

/******************************************
/* NAV                   
/*******************************************/
/**/
.logo {
  width: 8rem;
  margin: 1rem 2rem;
  float: left;
  position: fixed;
  z-index: 10;
}

.eye {
  float: right;
  width: 3.5rem;
  margin: 1% 89%;
  position: fixed;
  z-index: 10;
}

.menu {
  position: fixed;
  transition: opacity 0.3s cubic-bezier(0.015, 0.465, 0.445, 1.015) 0s;
  width: 100%;
  display: flex;
}
.menu li {
  list-style: none;
  display: inline;
  position: relative;
  color: #008f45;
  font-family: "Gill Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: .15rem;
  text-transform: uppercase;
  border-bottom: 5px solid snow;
}
.menu li:hover {
  border-bottom: 5px solid #dd1b75;
  -webkit-transition: border-color 500ms ease;
  -moz-transition: border-color 500ms ease;
  -o-transition: border-color 500ms ease;
  transition: border-color 500ms ease;
  -webkit-transition: font-size 2.5rem ease;
}
.menu .about {
  position: absolute;
  margin: 7% 17%;
}
.menu .work {
  position: absolute;
  margin: 19% 43%;
}
.menu .contact {
  position: absolute;
  margin: 32% 75%;
  /* Rotate from top left corner (not default) */
}

.white {
  color: snow;
}

.overlay {
  position: fixed;
  pointer-events: none;
  left: 0;
  z-index: 2;
  width: 100%;
  top: 0;
}

.overlay .overlay-image {
  opacity: 0;
  -webkit-transition: 0.25s cubic-bezier(0.72, 0.04, 0.49, 0.7) all 0.15s;
  -moz-transition: 0.25s cubic-bezier(0.72, 0.04, 0.49, 0.7) all 0.15s;
  -ms-transition: 0.25s cubic-bezier(0.72, 0.04, 0.49, 0.7) all 0.15s;
  -o-transition: 0.25s cubic-bezier(0.72, 0.04, 0.49, 0.7) all 0.15s;
}

.overlay .overlay-image.zoom {
  -webkit-transition: 0.5s cubic-bezier(0.72, 0.04, 0.49, 0.7) all 0s;
  -moz-transition: 0.5s cubic-bezier(0.72, 0.04, 0.49, 0.7) all 0s;
  -ms-transition: 0.5s cubic-bezier(0.72, 0.04, 0.49, 0.7) all 0s;
  -o-transition: 0.5s cubic-bezier(0.72, 0.04, 0.49, 0.7) all 0s;
  -webkit-transform: scale(4, 4);
  -ms-transform: scale(4, 4);
  -o-transform: scale(4, 4);
  transform: scale(4, 4);
}

.overlay.visible .overlay-image {
  opacity: 1;
}

.points {
  position: absolute;
  height: 0;
  left: 0;
  top: 0;
  z-index: 10;
}

.point {
  font-family: 'Droid Arabic Naskh', serif;
  color: #dd1b75;
  font-size: 1.5rem;
  z-index: 999;
  position: absolute;
  cursor: pointer;
  pointer-events: all;
  width: 40px;
  height: 40px;
  -webkit-transition: .5s ease-all;
  opacity: 1;
  top: 100px;
  left: 100px;
}
.point .inner {
  position: relative;
  text-align: center;
  transform: scale(0.66);
  -webkit-transition: .25s ease-all;
  box-sizing: inherit;
}

.point.highlight {
  opacity: 1;
}

.point.highlight .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.overlay-image {
  height: 200%;
  width: 200%;
}

.caption {
  font-size: 2rem;
  text-align: center;
  position: fixed;
  opacity: 0;
  z-index: 2;
  -webkit-transition: .25s ease all 0s;
  margin: 0 auto;
  top: 40%;
  font-family: 'gill Sans';
  color: snow;
  font-weight: normal;
  width: 100%;
}

.caption.visible {
  -webkit-transition: .25s ease all .5s;
  -moz-transition: .25s ease all .5s;
  -ms-transition: .25s ease all .5s;
  -o-transition: .25s ease all .5s;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.nobreak {
  white-space: nowrap;
}

@media only screen and (max-width: 400px) {
  .indent .nobreak {
    display: block;
    margin-left: 1em;
  }
}
.cv-wrapper {
  line-height: 135%;
  padding: 80px;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 900px) {
  .cv-wrapper {
    padding: 20px 80px 20px 20px;
  }
}
.cv-wrapper .cv-inner {
  display: none;
}

.cv-wrapper .cv-inner.active {
  display: block;
}

.cv-wrapper .close {
  cursor: pointer;
  font-size: 52px;
  position: fixed;
  top: 40px;
  right: 40px;
}

.cv-wrapper p, .cv-wrapper ul {
  margin-bottom: 1em;
}

.cv-wrapper li {
  text-indent: -3.5em;
  padding-left: 3.5em;
}

.cv-wrapper .date {
  float: left;
  width: 3.5em;
  display: inline-block;
}

.hide .cv-wrapper {
  visibility: visible;
  opacity: 1;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #000;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 1px;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

@media print {
  *, :after, :before {
    background: 0 0 !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }

  blockquote, pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  img, tr {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  h2, h3, p {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
/******************************************
/* PROJECT HOMEPAGE                   
/*******************************************/
/**/
.projections {
  margin: 1rem 0rem;
}
.projections .thumbnail {
  float: left;
}
.projections .blurb {
  margin: 6rem 33rem;
  float: right;
}
@media only screen and (max-width: 414px) {
  .projections .blurb {
    margin: 0 auto;
    float: none;
  }
}

.mkmc {
  margin: 1rem 0rem;
}
.mkmc .thumbnail {
  float: left;
}
.mkmc .blurb {
  margin: 4rem -11rem;
  float: right;
}
@media only screen and (max-width: 414px) {
  .mkmc .blurb {
    margin: 0 auto;
    float: none;
  }
}

.beyond-walls h3 {
  word-spacing: 7px;
}
.beyond-walls .blurb {
  float: left;
  margin: -38rem 35rem;
}

.blurb {
  width: 22rem;
  font-family: 'Gill Sans';
  font-size: 1.5rem;
  border: 6px solid black;
  background-color: snow;
  position: absolute;
  padding: 3rem;
}
.blurb h3 {
  font-family: "Conv_NuptialScriptLTStd";
  font-size: 2.5rem;
  line-height: 2rem;
}
.blurb p {
  font-size: 1.25rem;
}

.thumbnail {
  padding-bottom: 4rem;
}

.view {
  color: black;
  font-size: .75rem;
  font-weight: bold;
  border-bottom: 2px solid black;
  padding: 1rem;
}
.view:hover {
  color: #dd1b75;
  border-bottom: 1px solid #dd1b75;
  transition: .25s all ease-in-out;
}
